:host {
  display: flex;
  width: 100%;

  .tree-node {
    align-items: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }

  icc-icon {
    width: 7px;
    padding-right: 0px;
    vertical-align: 0;
  }
}
