$theme: (
  --app-background-color: hsl(0, 0%, 100%),
  app-border-basic-color: #d0c6bc,
  app-text-basic-color: #4b4f54,

  //header and footer
  icc-header-background-color: #d2d2d2,

  //grid
  icc-grid-header-background-color: #ededed,
  icc-grid-row-odd-background-color: #ffffff,
  icc-grid-row-even-background-color: #f4f5f5,
  icc-grid-row-hover-background-color: #e5e5e5,
  icc-grid-toolbar-background-color: #d2d2d2,

  //button
  icc-button-default-color: #ffffff,

  //menu
  icc-menu-item-hover-background-color: #e5e5e9,
  icc-menu-item-selected-background-color: #d1d1d6,

  //accordion
  icc-accordion-item-background-color: #d2d2d2,
  icc-accordion-item-hover-background-color: #e5e5e9,

  //option
  icc-option-item-background-color: #fbfbfb,
  icc-option-item-hover-background-color: #e5e5e5,
  icc-option-item-selected-background-color: #d1d1d6,

  //form field
  icc-form-field-input-background-color: #ededed,
  icc-form-field-focus-background-color: #f6f1ed,
  icc-form-field-focus-border-color: green,

  //checkbox
  checkbox-border-color: #adadad,
  checkbox-hover-border-color: #4b4f54,
  checkbox-disabled-border-color: #dedede,
  checkbox-background-color: #ffffff,
  checkbox-disabled-background-color: #f1f1f1,
  checkbox-checkmark-color: transparent,
  checkbox-checked-checkmark-color: #f18a20,
  checkbox-disabled-checkmark-color: #dedede,
  //checkmark
  checkmark-color: #dedede,
  checkmark-checked-color: #f18a20,
  checkmark-background-color: transparent,
  checkmark-checked-background-color: transparent,

  calendar-panel-background-color: #fbfbfb,
  calendar-weekdays-text-color: #757575,

  calendar-month-day-text-color: #4b4f54,
  calendar-month-today-border-color: #4b4f54,
  calendar-month-day-selected-text-color: #4b4f54,
  calendar-month-day-selected-background-color: #f8c48f,
  calendar-month-day-hover-text-color: #4b4f54,
  calendar-month-day-hover-background-color: #c5cbe9,

  calendar-month-header-background-color: #fdeede,
  calendar-month-header-text-color: #4b4f54,

  radio-background-color: #ffffff,
  radio-border-color: #dedede,
  radio-checked-background-color: #f6f1ed,
  radio-checked-border-color: #d0c6bc,
  radio-inner-circle-color: #f18a20,
  radio-text-color: #4b4f54,
);

//$icc-themes: icc-register-theme($theme, light);
