<div class="icc-menu-panel">
  <span *ngFor="let item of menuItems">
    <span *ngIf="item.children && item.children.length > 0">
      <button
        class="icc-menu-item icc-button"
        [iccPopover]="menu"
        [popoverLevel]="level + 1"
        popoverPosition="bottomRight"
      >
        <i *ngIf="item.icon" [class]="item.icon"></i>
        <span class="icc-menu-item-title"> {{ item.title }}</span>
        <span class="icc-flex"></span>
        <i class="fas fa-caret-right"></i>
      </button>
      <ng-template #menu>
        <icc-popover-menu-item
          [menuItems]="item.children"
          [level]="level + 1"
          (iccItemChangedEvent)="onMenuItemChanged($event)"
        >
        </icc-popover-menu-item>
      </ng-template>
    </span>
    <span *ngIf="!item.children || item.children.length === 0">
      <button class="icc-menu-item icc-button">
        {{ item.title }}
      </button>
    </span>
  </span>
</div>

<!--
    <span *ngIf="!item.children || item.children.length === 0">
      <span iccMenuField [field]="item" (iccMenuFieldChangedEvent)="onMenuFieldChanged($event, item)">
      </span>
    </span>
-->
