<div>
  <div><br /></div>

  <div><br /></div>

  <div><br /></div>
  <div><br /></div>
  <div [ngStyle]="{ display: 'flex', 'flex-direction': 'row', width: '200px' }">
    <div>Click Menu</div>
    <cdk-menus [items]="menuItems" (iccMenuItemClick)="menuItemClick($event)"> </cdk-menus>
  </div>
  <div><br /></div>
  <div><br /></div>

  <div><br /></div>
  <div><br /></div>

  <!--

  <div [ngStyle]="{ display: 'flex', 'flex-direction': 'row' }">
    Click Popover Menu
    <div [ngStyle]="{ 'padding-left': '5px', width: '50px' }">
      <icc-popover-menu [menuItem]="testMenuItems" [clickToClose]="true"> </icc-popover-menu>
    </div>
  </div>
    -->

  <div><br /></div>
  <div><br /></div>
</div>
