<div>
  <div><br /></div>

  <div [ngStyle]="{ display: 'flex', 'flex-direction': 'row' }">
    Click Popover Menu
    <div [ngStyle]="{ 'padding-left': '5px', width: '10px' }">
      <icc-popover-menu [menuItem]="testMenuItems"> </icc-popover-menu>
    </div>
  </div>

  <div><br /></div>

  <div><br /></div>
  <div><br /></div>
  <div [ngStyle]="{ display: 'flex', 'flex-direction': 'row', width: '200px' }">
    <div>Click Menu</div>
    <icc-menus [items]="menuItems" (iccMenuItemClick)="menuItemClick($event)"> </icc-menus>
  </div>
  <div><br /></div>
  <div><br /></div>

  <div [ngStyle]="{ display: 'flex', 'flex-direction': 'row', width: '200px' }">
    <div>Context Menu</div>
    <icc-menus [items]="menuItems" [menuTrigger]="contextmenu"> </icc-menus>
  </div>
</div>
