:host {
  display: flex;
  flex-direction: row;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    width: 600px;

    ::ng-deep .icc-menu-row span {
      display: block;
      width: 100%;
    }
  }
}
