:host {
  display: flex;
  .legend {
    display: flex;
  }
  .legend-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 2px;
    // vertical-align: middle; // TODO this seems not working
    border: 2px solid;
  }
}
