<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field [iccLabelWidth]="fieldConfig.labelWidth" [iccFieldWidth]="fieldConfig.fieldWidth">
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel }}
    </icc-label>
    <textarea
      iccInput
      [formControlName]="fieldConfig.fieldName!"
      (click)="$event.stopPropagation()"
      (keyup)="onChange()"
      spellcheck="false"
      placeholder="{{ fieldConfig.placeholder }}"
    >
    </textarea>
    <icc-icon *ngIf="fieldConfig.clearValue && hasValue" icon="remove" iccSuffix (click)="clearValue()"></icc-icon>

    <ng-container *ngIf="field?.touched && field?.errors">
      <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
    </ng-container>
  </icc-form-field>
</ng-container>
