@use "../../theme/src/icc";

@mixin icc-checkbox-theme() {
  icc-checkbox.ghost-checkbox {
    .icc-checkbox-container {
      border: none;
      background: icc.icc-theme(checkmark-background-color);

      icc-icon {
        color: icc.icc-theme(checkmark-color);
      }
    }

    input:checked + .icc-checkbox-container {
      background-color: icc.icc-theme(checkmark-checked-background-color);

      icc-icon {
        color: icc.icc-theme(checkmark-checked-color);
      }
    }

    input:disabled + .icc-checkbox-container {
      opacity: 0.5;
    }
  }

  icc-checkbox {
    .icc-checkbox-container {
      border: 1px solid;
      border-color: icc.icc-theme(checkbox-border-color);
      border-radius: 3px;
      min-width: 1rem;
      width: 1rem;
      height: 1rem;
      background: icc.icc-theme(checkbox-background-color);
      position: relative;

      icc-icon {
        color: icc.icc-theme(checkbox-checkmark-color);
      }
    }

    .icc-checkbox-label:not(:empty) {
      margin-left: 0.5rem;
    }

    input:checked + .icc-checkbox-container,
    input:indeterminate + .icc-checkbox-container {
      /*
      min-width: 1rem;
      width: 1rem;
      height: 1rem;*/
      icc-icon {
        color: icc.icc-theme(checkbox-checked-checkmark-color);
      }
    }

    input:hover + .icc-checkbox-container,
    input:focus + .icc-checkbox-container {
      border-color: icc.icc-theme(checkbox-hover-border-color);
    }

    input:disabled + .icc-checkbox-container {
      border-color: icc.icc-theme(checkbox-disabled-border-color);
      background: icc.icc-theme(checkbox-disabled-background-color);
      icc-icon {
        color: icc.icc-theme(checkbox-checkmark-color);
        cursor: default;
        &.checked {
          color: icc.icc-theme(checkbox-disabled-checkmark-color);
        }
      }
    }
  }
}
