@mixin icc-checkbox-theme() {
  icc-checkbox {
    input[type="checkbox"],
    input[type="radio"] {
      accent-color: icc-theme(icc-checkbox-input-color);
    }

    /*
    input[type='checkbox']:not(:checked):not(:disabled),
    input[type='radio']:not(:checked):not(:disabled) {
      //appearance: none;
      margin-bottom: 0;
      width: 1em;
      height: 1em;
      border: 1px solid icc-theme(app-border-basic-color);
    }

    input[type='checkbox']:not(:checked):not(:disabled) {
      border-radius: 2px;
    }

    input[type='radio']:not(:checked):not(:disabled) {
      border-radius: 100px;
    }
      */
  }
}
