<label>
  <input
    #inputEl
    type="checkbox"
    class="cdk-visually-hidden"
    [checked]="checked$()"
    [disabled]="disabled$()"
    [indeterminate]="indeterminate$()"
    (change)="updateValueAndIndeterminate($event)"
    (click)="$event.stopPropagation()"
  />
  <span class="icc-checkbox-container">
    @if (indeterminate$()) {
      <icc-icon [class.indeterminate]="indeterminate$()" icon="minus"></icc-icon>
    }
    @if (!indeterminate$()) {
      <icc-icon [class.checked]="checked$()" icon="check"></icc-icon>
    }
  </span>
  <span class="icc-checkbox-label">
    <ng-content></ng-content>
  </span>
</label>
