:host {
  padding: 10px 0px;

  div.icc-file-drop__content,
  div.icc-file-drop__drop-zone--enabled,
  div.icc-file-drop__drop-zone--disabled {
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    flex-direction: column;
    transition: all 0.2s ease-in-out;

    a {
      color: #007bfd;
    }
  }

  div.icc-file-drop__drop-zone--enabled,
  div.icc-file-drop__drop-zone--disabled {
    border: 3px dashed #dfe2e5;
  }

  div.icc-file-drop__drop-zone--enabled {
    border-color: blue;
  }

  div.icc-file-drop__drop-zone--enabled:hover {
    border-color: orange;
  }

  div.icc-file-drop__drop-zone--disabled:hover {
    border: 3px dashed #dfe2e5;
  }
}

.icc-file-drop__drop-zone {
  height: 100px;
  margin: auto;
  border: 2px dotted #0782d0;
  border-radius: 30px;
}

.icc-file-drop__drop-zone--over {
  background-color: rgba(147, 147, 147, 0.5);
}

.icc-file-drop__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.icc-file-drop__drop-zone-label {
  text-align: center;
}

.icc-file-drop__file-input {
  display: none;
}
