:host {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;

  .icc-text-filter {
    // TODO input border color
    display: flex;
    width: 100%;
    padding: 0 10px;

    input {
      width: 100%;
    }
  }
}
