@use "../../theme/src/new/functions" as icc;

@mixin icc-radio-theme() {
  icc-radio {
    .icc-radio-outer-circle,
    .icc-radio-inner-circle {
      height: 1rem;
      width: 1rem;
    }

    .icc-radio-outer-circle {
      border: 1px solid icc.icc-theme(radio-border-color);
      background-color: icc.icc-theme(radio-background-color);
    }

    input:checked {
      & + .icc-radio-outer-circle {
        border-color: icc.icc-theme(radio-checked-border-color);
        background-color: icc.icc-theme(radio-checked-background-color);
      }

      & ~ .icc-radio-inner-circle {
        background: icc.icc-theme(radio-inner-circle-color);
      }

      & ~ .icc-radio-label-content {
        font-weight: 700;
      }
    }

    input:disabled {
      cursor: default;
      & + .icc-radio-outer-circle {
        opacity: 0.5;
      }

      ~ .icc-radio-inner-circle {
        opacity: 0.5;
      }

      ~ .icc-radio-label-content {
        opacity: 0.5;
      }
    }

    .icc-radio-label-content {
      font-size: 0.6875rem;
      font-weight: 300;
      line-height: 1rem;

      color: icc.icc-theme(radio-text-color);
    }
  }
}
