:host {
  padding-right: 10px;
  padding-left: 5px;
  label {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding: 0.28125rem 0;
    cursor: pointer;
  }

  label:has(input[disabled]) {
    cursor: default;
  }
}

.icc-radio-label-content {
  padding-left: 20px;
}

.icc-radio-outer-circle,
.icc-radio-inner-circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.icc-radio-inner-circle {
  transform: translateY(-50%) scale(0.5);
}
