<icc-layout [@transformPickerOverlay]="shouldAnimate">
  <div class="icc-date-range-calendar-container">
    <icc-calendar
      *ngIf="fromCalendarConfig"
      [calendarConfig]="fromCalendarConfig"
      [selectedDate]="fromDate"
      [selectedRangeDates]="selectedRangeDates"
      (monthViewChange)="fromMonthViewChange($event)"
      (selectedDateChange)="updateFromDate($event)"
    >
    </icc-calendar>

    <icc-calendar
      *ngIf="toCalendarConfig"
      [calendarConfig]="toCalendarConfig"
      [selectedDate]="toDate"
      [selectedRangeDates]="selectedRangeDates"
      (monthViewChange)="toMonthViewChange($event)"
      (selectedDateChange)="updateToDate($event)"
    >
    </icc-calendar>
  </div>

  <icc-layout-footer>
    <icc-layout-footer-start></icc-layout-footer-start>
    <icc-layout-footer-center>
      <icc-select-field
        [fieldConfig]="presetSelectionConfig"
        [options]="presets"
        [showFieldEditIndicator]="false"
        (selectionChange)="updateRangeByPreset($event)"
      ></icc-select-field>
    </icc-layout-footer-center>

    <icc-layout-footer-end>
      <button icc-button status="primary" (click)="applyNewDates($event)">
        <span translate>{{ "ICC.UI.ACTIONS.APPLY" }}</span>
      </button>
      <button icc-button (click)="discardNewDates($event)">
        <span translate>{{ "ICC.UI.ACTIONS.CANCEL" }}</span>
      </button>
    </icc-layout-footer-end>
  </icc-layout-footer>
</icc-layout>
