<icc-panel>
  <icc-panel-top-bar *ngIf="uploadFiles$ | async as uploadFiles">
    <div class="icc-panel-top-bar-title">{{ "File Drop Upload" }}</div>
    <ng-container *ngFor="let button of buttons">
      <button icc-button [disabled]="uploadFiles.length === 0" (click)="buttonClick(button)">
        <icc-icon *ngIf="button.icon" [icon]="button.icon"></icc-icon>
        {{ button.title }}
      </button>
    </ng-container>
  </icc-panel-top-bar>

  <input type="checkbox" [checked]="checked" (change)="onChange($event)" /> Enabled

  <icc-file-drop
    [accept]="'*'"
    [dropZoneClassName]="className"
    [disabled]="!checked"
    [multiple]="true"
    (onFileDrop)="dropped($event)"
  >
  </icc-file-drop>

  <icc-file-drop-grid class="icc-file-drop-grid"> </icc-file-drop-grid>
</icc-panel>
