:host {
  display: flex;
  width: 100%;
  align-items: center;

  icc-date-range-field {
    width: 100%;
    ::ng-deep {
      .icc-form-field {
        padding-bottom: 0px;
      }
      .icc-form-field-container {
        border-bottom: none;
      }
      input {
        width: 100%;
      }
    }
  }
}
