<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field
    [ngStyle]="{ display: hidden ? 'none' : 'inherit' }"
    [iccLabelWidth]="fieldConfig.labelWidth"
    [iccFieldWidth]="fieldConfig.fieldWidth"
    [iccFormFieldControl]="field"
  >
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel | translate }}
    </icc-label>

    <input
      #calendarInput
      class="icc-date-range-field-input"
      type="text"
      iccInput
      [value]="display"
      (click)="openCalendar()"
      placeholder="{{ fieldConfig.placeholder! | translate }}..."
      [disabled]="field.disabled"
      [required]="required"
      readonly
    />

    <button iccSuffix icc-button [ghost]="true" (click)="openCalendar()">
      <icc-icon icon="calendar"></icc-icon>
    </button>

    <icc-icon *ngIf="fieldConfig.clearValue && hasValue" icon="remove" iccSuffix (click)="clearValue()"></icc-icon>
    <icc-form-field-errors *ngIf="(field?.touched || field?.dirty) && field?.errors">
      <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
    </icc-form-field-errors>
  </icc-form-field>
</ng-container>
<!--

     #calendarInput
      class="icc-date-range-date-input"
      type="text"
      iccInput
      [value]="field.value | localeDate"
      (click)="openCalendar()"
      [placeholder]="fieldConfig.placeholder! | translate"
      [disabled]="field.disabled"
      [required]="required"
      readonly

      [iccTooltip]="selectedDateRange"
      [iccTooltipPosition]="tooltipPosition"
      -->
