<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field
    [ngStyle]="{ display: hidden ? 'none' : 'inherit' }"
    [iccLabelWidth]="fieldConfig.labelWidth"
    [iccFieldWidth]="fieldConfig.fieldWidth"
    [iccFormFieldControl]="field"
    [showFieldEditIndicator]="showFieldEditIndicator"
  >
    @if (fieldConfig.fieldLabel !== undefined) {
      <icc-label>{{ fieldConfig.fieldLabel | translate }}</icc-label>
    }
    <input
      #calendarInput
      class="icc-date-range-field-input"
      type="text"
      iccInput
      [value]="display"
      (click)="openCalendar()"
      placeholder="{{ fieldConfig.placeholder! | translate }}"
      [disabled]="field.disabled"
      [required]="required"
      readonly
    />
    <button iccSuffix icc-button [ghost]="true" [disabled]="field.disabled" (click)="openCalendar()">
      <icc-icon icon="calendar"></icc-icon>
    </button>
    @if (fieldConfig.clearValue && hasValue) {
      <icc-icon icon="remove" iccSuffix (click)="clearValue()"></icc-icon>
    }
    @if (field && (field.touched || field.dirty) && field.errors) {
      <icc-form-field-errors><icc-field-errors [errors]="field!.errors!"></icc-field-errors></icc-form-field-errors>
    }
  </icc-form-field>
</ng-container>
