<icc-grid-header-item *ngIf="gridConfig.rowSelection"
  [ngStyle]="{flex: '0 40px'}">
  <icc-row-select class="icc-header-row-select"
    [isSelected]="allSelected"
    (selected)="onToggleSelectAllRowsOnCurrentPage()"
  >
  </icc-row-select>
</icc-grid-header-item>

<ng-container *ngFor="let column of columns; trackBy: trackByIndex; let index = index;">
  <icc-grid-header-item *ngIf="!column.hidden" [ngStyle]="{flex: '1 ' +getColumnWidth(index) + 'px'}"
    [cdkDragDisabled]="dragDisabled"
    [column]="column"
    [columns]="columns"
    (columnResizing)="columnResizing.emit($event)"
    (columnResized)="columnResized.emit($event)"
    cdkDrag iccColumnResize>
    <icc-grid-header-cell
      [column]="column"
      [gridConfig]="gridConfig"
      (filterGrid)="filterGrid.emit($event)"
      (sortGrid)="sortGrid.emit($event)"
    >
    </icc-grid-header-cell>
    <icc-column-filter
      [gridConfig]="gridConfig"
      [column]="column"
    >
    </icc-column-filter>
    <div class="drag-placeholder" *cdkDragPlaceholder></div>
    <div class="resize-action" iccColumnResizeTrigger></div>
  </icc-grid-header-item>
</ng-container>
