<!--ngrx-grid-header
<ng-content select="ngrx-grid-header-item"></ng-content>
<ng-content select="icc-grid-header-item"></ng-content>
-->

<!--
      <ng-container *ngFor="let column of visibleColumns; let colIndex = index" matColumnDef="{{ column.field }}">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{ flex: '1 ' + column.width + 'px' }"></mat-header-cell>
      <mat-cell
        *matCellDef="let record; let rowIndex = index"
        [ngStyle]="{ flex: column.field == 'rowSelection' ? '0 30px' : '1 ' + column.width + 'px' }"

        [ngStyle]="{flex: '0 30px'}"

        [ngStyle]="{ flex: '1 ' + column.width + 'px' }"
      >
-->
<icc-grid-header-item *ngIf="gridConfig.rowSelection"
  [ngStyle]="{flex: '0 40px'}">
  <icc-row-select class="icc-header-row-select"
    [isSelected]="allSelected"
    (selected)="onToggleSelectAllRowsOnCurrentPage()"
  >
  </icc-row-select>
</icc-grid-header-item>

<ng-container *ngFor="let column of columnConfig; let index = index;">
  <icc-grid-header-item *ngIf="!column.hidden" [ngStyle]="{flex: '1 ' +getColumnWidth(column) + 'px'}"
    [cdkDragDisabled]="dragDisabled"
    [column]="column"
    (columnResizing)="onColumnResizing($event, column)"
    (columnResized)="onColumnResized($event, column)"
    cdkDrag iccColumnResize>
    <icc-grid-header-cell
      [column]="column"
      [gridConfig]="gridConfig"
      (filterGrid)="filterGrid.emit($event)"
      (sortGrid)="sortGrid.emit($event)"
    >
    </icc-grid-header-cell>
    <icc-column-filter
      [column]="column"
    >
    </icc-column-filter>
    <div class="drag-placeholder" *cdkDragPlaceholder></div>
    <div class="resize-action" iccColumnResizeTrigger></div>
  </icc-grid-header-item>
</ng-container>


<!--


    <icc-dynamic-column-filter
      [record]="record"
      [column]="column">
    </icc-dynamic-column-filter>


<ng-container *ngFor="let column of columnConfig; trackBy: trackByIndex; let index = index;">
  <ngrx-grid-header-item *ngIf="column.visible"
                         [cdkDragDisabled]="dragDisabled"
                         [column]="column"
                         (columnResizing)="columnResizing.emit($event)"
                         (columnResized)="columnResized.emit($event)"
                         cdkDrag ngrxColumnResize>
    <ngrx-dynamic-grid-header-item [column]="column"
                                   [filterSequence]="index"
                                   [config]="config"
                                   (filterGrid)="filterGrid.emit($event)"
                                   (sortGrid)="sortGrid.emit($event)">
    </ngrx-dynamic-grid-header-item>
    <div class="drag-placeholder" *cdkDragPlaceholder></div>
    <div *ngIf="config.columnResize" class="resize-action" ngrxColumnResizeTrigger></div>
  </ngrx-grid-header-item>
</ng-container>
-->


