<icc-grid-header-item *ngIf="gridConfig.rowSelection"
  [ngStyle]="{flex: '0 ' + rowSelectionCellWidth + 'px'}">
  <icc-row-select class="icc-header-row-select"
    [isSelected]="allSelected"
    (selected)="onToggleSelectAllRowsOnCurrentPage()"
  >
  </icc-row-select>
  <div class="icc-header-no-filter-border" *ngIf="gridConfig.columnFilter">
  </div>
</icc-grid-header-item>

<ng-container *ngFor="let column of columns; trackBy: trackByIndex; let index = index;">
  <icc-grid-header-item *ngIf="!column.hidden" [ngStyle]="{flex: '1 ' +getColumnWidth(index) + 'px'}"
    [cdkDragDisabled]="dragDisabled"
    [column]="column"
    [columns]="columns"
    [gridConfig]="gridConfig"
    (columnResizing)="columnResizing.emit($event)"
    (columnResized)="columnResized.emit($event)"
    cdkDrag iccColumnResize>
    <icc-grid-header-cell
      [column]="column"
      [gridConfig]="gridConfig"
    >
    </icc-grid-header-cell>

    <icc-column-filter *ngIf="gridConfig.columnFilter && column.filterField !==false"
      [gridConfig]="gridConfig"
      [column]="column"
    >
    </icc-column-filter>
    <div class="icc-header-no-filter-border" *ngIf="!(gridConfig.columnFilter && column.filterField !==false)">
    </div>

    <div class="drag-placeholder" *cdkDragPlaceholder></div>
    <div *ngIf="gridConfig.columnResize" class="resize-action" iccColumnResizeTrigger></div>
  </icc-grid-header-item>
</ng-container>
