@use "../../theme/src/icc";

@mixin icc-calendar-theme() {
  icc-calendar {
    background-color: icc.icc-theme(calendar-panel-background-color);

    .mat-calendar-body-today {
      background-color: icc.icc-theme(calendar-today-background-color) !important;
      border-color: icc.icc-theme(calendar-today-background-color) !important;
      color: icc.icc-theme(calendar-date-range-dates-color);
    }

    .icc-date-range-selected-date-start {
      .mat-calendar-body-cell-content {
        border-radius: 0.25rem 0 0 0.25rem;
        color: icc.icc-theme(calendar-date-range-dates-color);
        background-color: icc.icc-theme(calendar-date-selected-background-color) !important;
      }
    }

    .icc-date-range-selected-date-end {
      .mat-calendar-body-cell-content {
        border-radius: 0 0.25rem 0.25rem 0;
        color: icc.icc-theme(calendar-date-range-dates-color);
        background-color: icc.icc-theme(calendar-date-selected-background-color) !important;
      }
    }

    .mat-calendar-body-selected {
      color: icc.icc-theme(calendar-date-range-dates-color);
      background-color: icc.icc-theme(calendar-date-selected-background-color);
    }

    .mat-calendar-body-cell-content:hover {
      background-color: icc.icc-theme(calendar-date-hover-background-color) !important;
      color: icc.icc-theme(calendar-date-range-dates-color);
    }
  }

  icc-calendar,
  icc-date-field,
  icc-date-range-field,
  .mat-mdc-button:not(:disabled),
  .mat-calendar-body-label,
  .mat-calendar-body-cell-content,
  .mat-calendar-table-header th {
    color: icc.icc-theme(app-text-basic-color);
  }

  icc-date-picker,
  icc-date-range-picker {
    border: solid 1px icc.icc-theme(app-border-basic-color);
  }

  .mat-mdc-icon-button[disabled] {
    color: icc.icc-theme(app-text-basic-color);
    opacity: 0.25;
  }

  .mat-calendar-table-header-divider::after {
    background-color: icc.icc-theme(app-border-basic-color) !important;
  }

  .mat-calendar-arrow {
    fill: icc.icc-theme(app-text-basic-color);
  }

  .mat-calendar-body-label:not(:last-of-type) {
    visibility: hidden;
  }

  .mat-calendar-body-label:last-of-type {
    display: none;
  }

  .icc-date-range-dates::before {
    background-color: icc.icc-theme(calendar-date-range-dates-background-color) !important;
  }

  .icc-date-range-dates {
    .mat-calendar-body-cell-content {
      color: icc.icc-theme(calendar-date-range-dates-color);
    }
    .mat-calendar-body-today {
      background-color: icc.icc-theme(calendar-date-range-dates-background-color);
    }
  }
}
