<ng-template
  #content
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop="true"
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="isOverlayOpen"
  cdkConnectedOverlayPanelClass="overlay__panel"
  cdkConnectedOverlayBackdropClass="overlay__backdrop"
  (backdropClick)="toggleOverlay()"
>
  <div [cdkTrapFocus]="isOverlayOpen" [cdkTrapFocusAutoCapture]="isOverlayOpen">
    <div class="icc-calendar" [ngClass]="'icc-calendar--first-weekday-' + (firstDayOfWeek | lowercase)">
      <icc-weekdays [locale]="locale"></icc-weekdays>
      <ng-container *ngFor="let month of months">
        <icc-month-header
          [month]="month"
          [activeMonth]="activeMonth"
          (activeMonthChange)="onActiveMonthChange($event)"
          [locale]="locale"
        ></icc-month-header>

        <icc-month
          [month]="month"
          [selectedDate]="value"
          (selectedDateChange)="onSelect($event)"
          [locale]="locale"
        ></icc-month>
      </ng-container>

      <div class="today-btn">
        <button icc-button status="primary" (click)="setDateToday()">
          {{ "Today" }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!--
          {{ 'COMMON.ACTION.TODAY' | translate }}
-->
