<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field
    [ngStyle]="{ display: hidden ? 'none' : 'inherit' }"
    [iccLabelWidth]="fieldConfig.labelWidth"
    [iccFieldWidth]="fieldConfig.fieldWidth"
    [iccFormFieldControl]="field"
  >
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel | translate }}
    </icc-label>
    <icc-checkbox [formControlName]="fieldConfig.fieldName!" (change)="onChange()"></icc-checkbox>

    <icc-form-field-errors *ngIf="(field?.touched || field?.dirty) && field?.errors">
      <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
    </icc-form-field-errors>
  </icc-form-field>
</ng-container>
