<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field
    [ngStyle]="{ display: hidden ? 'none' : 'inherit' }"
    [iccLabelWidth]="fieldConfig.labelWidth"
    [iccFieldWidth]="fieldConfig.fieldWidth"
    [iccFormFieldControl]="field"
    [showFieldFieldIndicator]="showFieldFieldIndicator"
  >
    <!--
      TODO checkbox label after checkbox
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel | translate }}
    </icc-label>
      -->
    <icc-checkbox [disabled]="disabled" [formControlName]="fieldConfig.fieldName!" (change)="onChange()"></icc-checkbox>

    <div class="icc-suffix-content" iccSuffix (click)="iccSuffixClick($event)">
      {{ fieldConfig.fieldLabel }}
    </div>

    <icc-form-field-errors *ngIf="(field?.touched || field?.dirty) && field?.errors">
      <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
    </icc-form-field-errors>
  </icc-form-field>
</ng-container>
