:host {
  width: 100%;
  icc-checkbox {
    padding-left: 5px;
  }

  .icc-suffix-content {
    min-width: 80px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}
