:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .icc-mdc-tab-body-wrapper {
    height: 100%;
    border: 1px solid orangered;
  }
  .icc-mdc-tab {
    padding: 0 10px;
    margin: 0 2px;
  }

  ::ng-deep .icc-mdc-tab-body-active {
    display: flex;
    width: 100%;
    height: 100%;
    .icc-mdc-tab-body-content {
      width: 100%;
      height: 100%;
    }
  }

  ::ng-deep .mdc-tab--active {
    color: orange;
    border: 1px solid green;
  }
}
