<fieldset
  [iccFieldsetLabelWidth]="fieldConfig().labelWidth"
  [iccFieldWidth]="fieldConfig().fieldWidth"
  [style.flex-direction]="fieldConfig().flexDirection"
>
  @if (fieldConfig().legend !== undefined) {
    <legend>{{ fieldConfig().legend! | translate }}</legend>
  }

  @for (fieldConfig of formFields; track $index; let index = $index) {
    @if (fieldConfig.fieldType === FieldType.Fieldset) {
      <icc-fieldset [form]="form()" [fieldConfig]="fieldConfig"> </icc-fieldset>
    } @else {
      <icc-fields [form]="form()" [fieldConfig]="fieldConfig"> </icc-fields>
    }
  }
</fieldset>
