<fieldset
  [iccFieldsetLabelWidth]="fieldConfig.labelWidth"
  [iccFieldWidth]="fieldConfig.fieldWidth"
  [ngStyle]="{ 'flex-direction': fieldConfig.flexDirection }"
>
  @if (fieldConfig.legend !== undefined) {
    <legend>{{ fieldConfig.legend | translate }}</legend>
  }

  @for (config of formFields; track config; let index = $index) {
    @if (config.fieldType === FieldType.Fieldset) {
      <icc-fieldset [fieldConfig]="config" [form]="form"> </icc-fieldset>
    } @else {
      <icc-fields [fieldConfig]="config" [form]="form"> </icc-fields>
    }
  }
</fieldset>
