<icc-layout *ngIf="dashboardConfig$ | async as config">
  <icc-layout-header title="ICC.UI.TITLE.DASHBOARD" [buttons]="buttons" (iccButtonClick)="buttonClick($event)">
  </icc-layout-header>

  <ng-container *ngIf="dashboardSetting$ | async as dashboardSetting">
    <div *ngIf="tiles$ | async as tiles" cdkDropListGroup>
      <icc-tiles
        [ngStyle]="{
          'grid-gap': config.gridGap + 'px',
          'grid-template-columns': gridTemplateColumns,
          'grid-template-rows': gridTemplateRows,
        }"
        [config]="config"
        [dashboardSetting]="dashboardSetting"
        [tiles]="tiles"
        [options]="options"
      >
      </icc-tiles>
    </div>
  </ng-container>
</icc-layout>
