<icc-layout>
  <icc-layout-header title="ICC.UI.TITLE.DASHBOARD" [buttons]="buttons" (iccButtonClick)="buttonClick($event)">
  </icc-layout-header>

  <div
    class="icc-tile-list"
    cdkDropListGroup
    [ngStyle]="{
      'grid-gap': gridGap + 'px',
      'grid-template-columns': gridTemplateColumns,
      'grid-template-rows': gridTemplateRows,
    }"
  >
    <div
      class="icc-tile-item"
      *ngFor="let tile of tiles; let i = index"
      [ngStyle]="{ 'grid-column': tile.gridColumn, 'grid-row': tile.gridRow }"
    >
      <cdk-drop-list class="icc-drag-tile" [cdkDropListData]="i" (cdkDropListDropped)="onDropListDropped($event, tile)">
        <div
          class="icc-drag-tile"
          [style.backgroundColor]="tile.color"
          cdkDrag
          [cdkDragDisabled]="isDragDisabled(tile)"
          [cdkDragData]="i"
        >
          <div
            cdkDragHandle
            [iccPopover]="tilemenu"
            [iccPopoverTrigger]="contextMenuTrigger"
            [clickToClose]="true"
            [iccPopoverPosition]="position"
          >
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
              ></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
            <ng-template #tilemenu>
              <icc-menus [items]="tileMenus" [level]="1" (iccMenuItemClick)="onTileMenuClicked($event, tile)">
              </icc-menus>
            </ng-template>
          </div>
          <icc-portal [content]="tile.content!" [context]="tile.context!"></icc-portal>
        </div>
      </cdk-drop-list>
      <div
        IccResizeTop
        iccResize
        [direction]="resizeType.TOP"
        [elementKey]="'tile' + i"
        (iccResizeEvent)="onResizeTile($event, tile)"
      ></div>
      <div
        IccResizeRight
        iccResize
        [direction]="resizeType.RIGHT"
        [elementKey]="'tile' + i"
        (iccResizeEvent)="onResizeTile($event, tile)"
      ></div>
      <div
        IccResizeBottom
        iccResize
        [direction]="resizeType.BOTTOM"
        [elementKey]="'tile' + i"
        (iccResizeEvent)="onResizeTile($event, tile)"
      ></div>
      <div
        IccResizeLeft
        iccResize
        [direction]="resizeType.LEFT"
        [elementKey]="'tile' + i"
        (iccResizeEvent)="onResizeTile($event, tile)"
      ></div>
      <div
        IccResizeTopLeft
        iccResize
        [direction]="resizeType.TOP_LEFT"
        [elementKey]="'tile' + i"
        (iccResizeEvent)="onResizeTile($event, tile)"
      ></div>
      <div
        IccResizeTopRight
        iccResize
        [direction]="resizeType.TOP_RIGHT"
        [elementKey]="'tile' + i"
        (iccResizeEvent)="onResizeTile($event, tile)"
      ></div>
      <div
        IccResizeBottomRight
        iccResize
        [direction]="resizeType.BOTTOM_RIGHT"
        [elementKey]="'tile' + i"
        (iccResizeEvent)="onResizeTile($event, tile)"
      ></div>
      <div
        IccResizeBottomLeft
        iccResize
        [direction]="resizeType.BOTTOM_LEFT"
        [elementKey]="'tile' + i"
        (iccResizeEvent)="onResizeTile($event, tile)"
      ></div>
    </div>
  </div>
</icc-layout>
