@mixin icc-accordion-theme() {
  icc-accordion {
    icc-layout-header {
      border-bottom: 1px solid blueviolet;
      &:focus,
      &:hover {
        background-color: icc-theme(icc-accordion-item-hover-background-color);
      }
    }

    .icc-accordion-item-expanded {
      background-color: icc-theme(icc-accordion-item-expanded-background-color);
      font-weight: bold;
    }
  }
}
