@use "../../theme/src/icc";

@mixin icc-accordion-theme() {
  icc-accordion {
    icc-layout-header {
      border-bottom: 1px solid icc.icc-theme(app-border-basic-color);
      &:focus,
      &:hover {
        background-color: icc.icc-theme(icc-accordion-item-hover-background-color);
      }
    }

    .icc-accordion-item-expanded {
      font-weight: bold;
      border-bottom: unset;
    }
  }
}
