:host {
  .icc-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 8px 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .cdk-accordion-item {
    position: relative;
    z-index: 1;
  }

  .cdk-accordion-item + .cdk-accordion-item {
    border-top: none;
  }

  ::ng-deep icc-menu-item {
    padding-left: 10px;
  }
}
