<ng-container *ngFor="let item of items; trackBy: trackByIndex; let index = index">
  <icc-layout [ngStyle]="{ flex: getHeaderStyle(item) }">
    <icc-layout-header
      [ngClass]="item.expanded ? 'icc-accordion-item-expanded' : ''"
      [title]="getTitle(item)"
      (click)="toggle(item, !!item.expanded)"
    >
      @if (item.expanded) {
        <icc-icon config="chevron-up"></icc-icon>
      } @else {
        <icc-icon config="chevron-down"></icc-icon>
      }
    </icc-layout-header>

    @if (item?.expanded && item.items) {
      <icc-layout-horizontal>
        <icc-menus [items]="item.items" (iccMenuItemClick)="onMenuItemClick($event)"></icc-menus>
      </icc-layout-horizontal>
    }
  </icc-layout>
</ng-container>
