@for (item of items; track item; let index = $index) {
  <icc-layout [ngStyle]="{ flex: getHeaderStyle(item) }">
    <icc-layout-header [title]="getTitle(item)" (click)="toggle(item, !!item.expanded)">
      <i *ngIf="item.expanded" class="fa-solid fa-chevron-up"></i>
      <i *ngIf="!item.expanded" class="fa-solid fa-chevron-down"></i>
    </icc-layout-header>

    <icc-layout-horizontal *ngIf="item?.expanded">
      <icc-menus [items]="item.items"></icc-menus>
    </icc-layout-horizontal>
  </icc-layout>
}
