:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;

  icc-layout-header {
    margin-bottom: 0px;
  }

  icc-layout-horizontal {
    flex-direction: column;
    overflow-y: auto;
  }
}
