<cdk-accordion class="example-accordion">
  @for (item of items; track item; let index = $index) {
    <cdk-accordion-item
      [expanded]="isExpaneded(index)"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      [tabindex]="index"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <div
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
      >
        {{ getTitle(item) }}
        <span class="example-accordion-item-description">
          <i *ngIf="accordionItem.expanded" class="fa-solid fa-chevron-up"></i>
          <i
            *ngIf="!accordionItem.expanded"
            class="fa-solid fa-chevron-down"
          ></i>
        </span>
      </div>

      <icc-menu *ngIf="accordionItem.expanded" [items]="item.items"></icc-menu>
    </cdk-accordion-item>
  }
</cdk-accordion>
