@if (gridConfig().rowSelection) {
  <icc-grid-header-item [style.flex]="'0 0 ' + rowSelectionCellWidth + 'px'"></icc-grid-header-item>
}

@for (header of groupHeaderColumns; track $index; let index = $index) {
  <icc-grid-header-item
    [style.flex]="'0 0 ' + getHeaderWidth(header)"
    [style.max-width]="getHeaderWidth(header)"
    [groupHeader]="true"
    [column]="getColumn(header)"
    [columns]="columns()"
    [gridConfig]="gridConfig()"
    [gridSetting]="gridSetting()"
    (columnResizing)="columnResizing.emit($event)"
    (columnResized)="columnResized.emit($event)"
    iccColumnResize
  >
    {{ header.title }}
    @if (gridConfig().columnResize) {
      <div class="icc-grid-column-resize-action" iccColumnResizeTrigger></div>
    }
  </icc-grid-header-item>
}
