:host {
  display: flex;
  width: 100%;

  icc-grid-header-item {
    padding: 0 10px;
    border-bottom-width: 0px;
    flex-direction: row;
    justify-content: center; // start | center | end
  }

  .resize-action {
    width: 10px;
    height: 60px;
    position: absolute;
    right: -5px;
    z-index: 3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      height: 20px;
      width: 1px;
      margin: auto;
      //background-color: red;
    }

    &:hover,
    &:active {
      cursor: ew-resize;
    }
  }
}
