:host {
  display: flex;
  flex: 1;

  ::ng-deep {
    icc-layout-left,
    icc-layout-center,
    icc-layout-right,
    icc-layout-top,
    icc-layout-middle,
    icc-layout-bottom {
      border: 1px solid darkgreen;
    }
  }
}
