@mixin icc-resize-directive-theme() {
  [IccResizeLeft],
  [IccResizeRight] {
    position: absolute;
    cursor: col-resize;
    top: 10px;
    bottom: 10px;
    width: 10px;
    right: 0;
  }

  [IccResizeLeft] {
    left: 0;
  }

  [IccResizeRight] {
    right: 0;
  }

  [IccResizeTop],
  [IccResizeBottom] {
    position: absolute;
    cursor: row-resize;
    height: 10px;
    left: 10px;
    right: 10px;
  }

  [IccResizeTop] {
    top: 0;
  }

  [IccResizeBottom] {
    bottom: 0;
  }

  [IccResizeTopLeft],
  [IccResizeBottomRight] {
    position: absolute;
    cursor: nwse-resize;
    width: 10px;
    height: 10px;
  }

  [IccResizeTopLeft] {
    top: 0;
    left: 0;
  }

  [IccResizeBottomRight] {
    bottom: 0;
    right: 0;
  }

  [IccResizeTopRight],
  [IccResizeBottomLeft] {
    position: absolute;
    cursor: nesw-resize;
    width: 10px;
    height: 10px;
  }

  [IccResizeTopRight] {
    top: 0;
    right: 0;
  }

  [IccResizeBottomLeft] {
    bottom: 0;
    left: 0;
  }

  [IccResizeLeftRight],
  [IccResizeRightLeft] {
    cursor: col-resize;
    top: 10px;
    bottom: 10px;
    width: 2px;
  }

  [IccResizeTopBottom],
  [IccResizeBottomTop] {
    cursor: row-resize;
    height: 2px;
    left: 10px;
    right: 10px;
  }
}
