:host {
  align-items: center;
  padding: 1px 10px;

  button {
    margin-right: 5px;
  }
  span {
    margin: 0 5px;
  }

  icc-number-field {
    width: unset;
    input {
      text-align: center;
    }
  }
}
