
<button (click)="getGridPageData(1)" [disabled]="page === 1">
  First
</button>

<button (click)="getGridPageData(page-1)" [disabled]="page === 1">
  Prev
</button>
<span> Page:
  <input
    type="number"
    min="1"
    [max]="lastPage"
    [value]="page"
    autocomplete="off"
    (click)="$event.stopPropagation()"
    (input)="valueChanged($event)"
  >

</span>
<span> of {{lastPage}} </span>
<button (click)="getGridPageData(page+1)" [disabled]="page === lastPage">
  Next
</button>

<button (click)="getGridPageData(lastPage)" [disabled]="page === lastPage">
  Last
</button>

<button (click)="getGridPageData(page)">
  Refresh
</button>

<span>Page Size:
  <input
    type="number"
    min="1"
    max="1000"
    [value]="gridConfig.pageSize"
    autocomplete="off"
  >
</span>

<span>{{displaying}}</span>
<!--
    first prev | page 1 of 20 | next last | refresh |

-->
