:host {
  align-items: center;
  padding: 1px 10px;

  button {
    icc-icon {
      padding-right: 0px;
    }
  }

  span {
    margin: 0 5px;
  }

  icc-number-field {
    width: unset;

    ::ng-deep {
      .icc-form-field-label {
        display: flex;
        flex-direction: row;
        justify-content: end;
      }

      input {
        text-align: center;
      }
    }
  }
}
