
<button (click)="getGridPageData(1)" [disabled]="page === 1">
  <i class="fa-solid fa-backward-step"></i>
</button>

<button (click)="getGridPageData(page-1)" [disabled]="page === 1">
  <i class="fa-solid fa-caret-left"></i>
</button>
<span> Page:
  <input
    type="number"
    min="1"
    [max]="lastPage"
    [value]="page"
    autocomplete="off"
    (click)="$event.stopPropagation()"
    (input)="valueChanged($event)"
    style="text-align:center;"
  >

</span>
<span> of {{lastPage}} </span>
<button (click)="getGridPageData(page+1)" [disabled]="page === lastPage">
  <i class="fa-solid fa-caret-right"></i>
</button>

<button (click)="getGridPageData(lastPage)" [disabled]="page === lastPage">
  <i class="fa-solid fa-forward-step"></i>
</button>

<button (click)="getGridPageData(page)">
  <i class="fa-solid fa-arrows-rotate"></i>
</button>

<span>Page Size:
  <input
    type="number"
    min="1"
    max="10"
    [value]="gridConfig.pageSize"
    autocomplete="off"
    readonly
    style="text-align:right;"
  >
</span>

<span class="grid-footer-displaying">{{displaying}}</span>
