:host {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1px 10px;

  button {
    margin-right: 5px;
  }
  span {
    margin: 0 5px;
  }

  .grid-footer-displaying {
    margin-left: auto;
  }

  input {
    text-align: center;
  }
}
