<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field [iccLabelWidth]="fieldConfig.labelWidth" [iccFieldWidth]="fieldConfig.fieldWidth">
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel }}
    </icc-label>
    <input
      type="text"
      iccInput
      iccCalendarToggle
      [calendarModal]="datepicker"
      [disabled]="field.disabled"
      [value]="field.value | localeDate"
      [placeholder]="fieldConfig.placeholder"
      [required]="isRequired"
      readonly
    />
    <icc-calendar
      #datepicker
      [formControlName]="fieldConfig.fieldName!"
      (valueChange)="onChange($event)"
    ></icc-calendar>
    <icc-icon *ngIf="fieldConfig.clearValue && hasValue" icon="remove" iccSuffix (click)="clearValue()"></icc-icon>

    <ng-container *ngIf="field?.errors">
      <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
    </ng-container>
  </icc-form-field>
</ng-container>
