@use "sass:map";

$icc-enable-css-custom-properties: false !default;

$icc-themes: ();
$icc-processed-theme: ();

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  border: 0;
}

@import "core/common";
@import "core/functions";
@import "core/variables";
@import "components";
@import "reset";
@import "typography";
@import "themes";
