body {
  margin: 0px;
}

icc-layout,
.cdk-overlay-container {
  // Ideally would be scoped to body but don't want to conflict with legacy pages
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

// ::ng-deep
.cdk-overlay-pane {
  height: auto !important;
}

.cdk-visually-hidden {
  display: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em 0;
}

mark {
  background-color: #e1e61e;
}
