<icc-layout *ngIf="treeConfig$ | async as treeConfig">
  <ng-container *ngIf="gridSetting$ | async as gridSetting">
    <ng-container *ngIf="columnsConfig$ | async as columns">
      <icc-layout-header
        *ngIf="!treeConfig.hideTopbar"
        [buttons]="buttons"
        (iccButtonClick)="buttonClick($event, treeConfig, gridSetting)"
      >
      </icc-layout-header>

      <icc-tree-view
        [gridSetting]="gridSetting"
        [treeConfig]="treeConfig"
        [columns]="columns"
        [iccSpinner]="gridSetting.loading"
      >
      </icc-tree-view>
      <!--
      <icc-grid-footer [treeConfig]="treeConfig" *ngIf="!treeConfig.hideGridFooter"> </icc-grid-footer>
    -->
    </ng-container>
  </ng-container>
</icc-layout>
