<ng-container *ngIf="treeConfig$ | async as treeConfig">
  <ng-container *ngIf="columnsConfig$ | async as columns">
    <div class="icc-grid-toolbar" *ngIf="!treeConfig.hideTopbar">
      <button icc-button (click)="refresh()">
        <icc-icon [icon]="buttons[0].icon!"></icc-icon>
        {{ buttons[0].title | translate }}
      </button>
      <button icc-button (click)="clearFilters()">
        <icc-icon [icon]="buttons[1].icon!"></icc-icon>
        {{ buttons[1].title | translate }}
      </button>
    </div>

    <icc-tree-view [treeConfig]="treeConfig" [columns]="columns"> </icc-tree-view>

    <!--
    <icc-grid-footer [treeConfig]="treeConfig" *ngIf="!treeConfig.hideGridFooter"> </icc-grid-footer>
        -->
  </ng-container>
</ng-container>
