<icc-date-range-picker [fieldConfig]="dateRangeFieldConfig" [value]="range" (valueChange)="updateRange($event)">
</icc-date-range-picker>

<icc-date-picker [fieldConfig]="dateFieldConfig" [value]="selectedDate" (valueChange)="valueChange($event)">
</icc-date-picker>

<icc-date-range-field [fieldConfig]="dateRangeFieldConfig" [value]="range" (valueChange)="updateRange($event)">
</icc-date-range-field>

<icc-date-field [fieldConfig]="dateFieldConfig" [value]="selectedDate" (valueChange)="valueChange($event)">
</icc-date-field>
