<div>
  Local field config and local list options (non-object)
  <icc-select-field
    [fieldConfig]="singleSelectionList"
    [value]="singleListState"
    [options]="listStates"
  ></icc-select-field>

  <icc-select-field
    [fieldConfig]="multiSelectionList"
    [value]="multiListStates"
    [options]="listStates"
  ></icc-select-field>

  <icc-select-field
    [fieldConfig]="multiSelectionDisplay"
    [value]="multiListStatesDisplay"
    [options]="listStates"
  ></icc-select-field>
</div>
