<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field
    [ngStyle]="{ display: hidden ? 'none' : 'inherit' }"
    [iccLabelWidth]="fieldConfig.labelWidth"
    [iccFieldWidth]="fieldConfig.fieldWidth"
    [iccFormFieldControl]="field"
    [showFieldEditIndicator]="showFieldEditIndicator"
  >
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel | translate }}
    </icc-label>
    <input
      iccInput
      type="text"
      autocomplete="off"
      [formControlName]="fieldConfig.fieldName!"
      (keyup)="onChange()"
      [required]="required"
      placeholder="{{ fieldConfig.placeholder! | translate }}"
    />
    <icc-icon *ngIf="fieldConfig.clearValue && hasValue" icon="remove" iccSuffix (click)="clearValue()"></icc-icon>

    <icc-form-field-errors *ngIf="(field?.touched || field?.dirty) && field?.errors">
      <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
    </icc-form-field-errors>
  </icc-form-field>
</ng-container>
