<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field>
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel }}
    </icc-label>
    <input
      iccInput
      type="text"
      autocomplete="off"
      [formControlName]="fieldConfig.fieldName!"
      (click)="$event.stopPropagation()"
      (keyup)="onChange()"
      (blur)="onBlur()"
      placeholder="{{ fieldConfig.placeholder }}"
    />
    <icc-icon *ngIf="hasValue" icon="remove" iccSuffix (click)="clearValue()"></icc-icon>
  </icc-form-field>
</ng-container>
