@if (form()) {
  <icc-form-field
    [formGroup]="form()"
    [style.display]="hidden ? 'none' : 'inherit'"
    [iccLabelWidth]="fieldConfig().labelWidth"
    [iccFieldWidth]="fieldConfig().fieldWidth"
    [iccFormFieldControl]="field"
    [showFieldEditIndicator]="showFieldEditIndicator()"
  >
    @if (fieldConfig().fieldLabel !== undefined) {
      <icc-label>{{ fieldConfig().fieldLabel! | translate }}</icc-label>
    }
    <input
      iccInput
      #inputEl
      type="text"
      autocomplete="off"
      [formControlName]="fieldConfig().fieldName!"
      (keyup)="onChange()"
      [required]="required"
      placeholder="{{ fieldConfig().placeholder! | translate }}"
    />
    @if (fieldConfig().clearValue && hasValue) {
      <icc-icon icon="remove" iccSuffix (click)="clearValue()"></icc-icon>
    }
    @if (field && (field.touched || field.dirty) && field.errors) {
      <icc-form-field-errors><icc-field-errors [errors]="field!.errors!"></icc-field-errors></icc-form-field-errors>
    }
  </icc-form-field>
}
