<icc-select-field
  [selectOnly]="false"
  [multiSelection]="false"
  [value]="value"
  [options]="options"
  optionLabel="label"
  optionId="value"
  (selectionChange)="onSelectionChange($event)"
>
</icc-select-field>

<!--

  [value]="states[16]"
  <input
    type="text"
    [value]="value"
    autocomplete="off"
    (click)="$event.stopPropagation()"
    (keyup)="applyFilter($event)"
    placeholder="{{ filterPlaceholder }}"
  />

<mat-form-field *ngIf="filterType" [ngClass]="'sun-grid-form-field'" [ngStyle]="{'height': rowHeight+'px'}">
  <input matInput type="text" [value]="value" autocomplete="off"
    (click)="$event.stopPropagation()"
    (keyup)="applyFilter($event)"
    placeholder="{{filterPlaceholder | translate}}...">

  <button *ngIf="value" matSuffix sun-button [ghost]="true" (click)="clearFilter($event)">
    <sun-icon icon="times-circle-o"></sun-icon>
  </button>
</mat-form-field>
-->
