<icc-select-field
  *ngIf="fieldConfig"
  [fieldConfig]="fieldConfig"
  [value]="value"
  [options]="options"
  (selectionChange)="onSelectionChange($event)"
>
</icc-select-field>

<!--

<mat-form-field *ngIf="filterType" [ngClass]="'sun-grid-form-field'" [ngStyle]="{'height': rowHeight+'px'}">
  <input matInput type="text" [value]="value" autocomplete="off"
    (click)="$event.stopPropagation()"
    (keyup)="applyFilter($event)"
    placeholder="{{filterPlaceholder | translate}}...">

  <button *ngIf="value" matSuffix sun-button [ghost]="true" (click)="clearFilter($event)">
    <sun-icon icon="times-circle-o"></sun-icon>
  </button>
</mat-form-field>
-->
