@use "../styles/calendar-constants" as calendarConstants;
@use "../styles/calendar-mixins" as calendar;
@use "sass:list";

.icc-month {
  @include calendar.calendarGrid();

  @each $first-weekday, $weekdays in calendarConstants.$first-weekday-to-weekdays {
    @each $day in $weekdays {
      :host-context(.icc-calendar--first-weekday-#{$first-weekday}) &--first-day-#{$day} {
        time:first-child {
          margin-left: (list.index($weekdays, $day) - 1) * calendarConstants.$cal-cell-size;

          grid-column: list.index($weekdays, $day);
          @supports (display: grid) {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__day {
    @include calendar.calendarGridCell();
    cursor: pointer;
    border-radius: 3px;

    &--today {
      border: 1px solid;
    }
  }
}
