@use "../../theme/src/icc";

@mixin icc-date-picker-theme() {
  icc-calendar-wrapper,
  icc-date-picker,
  icc-date-range-picker {
    color: icc.icc-theme(app-text-basic-color);
    .mat-mdc-icon-button:disabled {
      opacity: 0.25;
    }
  }

  .icc-date-range-dates::before {
    color: icc.icc-theme(color-basic-default);
    background-color: icc.icc-theme(color-basic-transparent-default);
  }

  icc-calendar-wrapper {
    .icc-date-range-selected-date-end {
      .mat-calendar-body-cell-content {
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }
  }
}
