@use "../../theme/src/icc";

@mixin icc-date-picker-theme() {
  icc-calendar-wrapper,
  icc-date-picker,
  icc-date-range-picker,
  .mat-mdc-button:not(:disabled),
  .mat-calendar-body-label,
  .mat-calendar-body-cell-content,
  .mat-calendar-table-header th {
    color: icc.icc-theme(app-text-basic-color);
  }

  .mat-mdc-icon-button[disabled] {
    color: icc.icc-theme(app-text-basic-color);
    opacity: 0.25;
  }

  .mat-calendar-table-header-divider::after {
    background-color: icc.icc-theme(app-border-basic-color) !important;
  }

  .mat-calendar-arrow {
    fill: icc.icc-theme(app-text-basic-color);
  }

  /*
  .mat-calendar-body-selected.mat-calendar-body-today {
    //box-shadow: inset 0 0 0 1px var(--mat-datepicker-calendar-date-today-selected-state-outline-color, var(--mat-sys-primary));
    box-shadow: inset 0 0 0 1px red;
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: cyan;
  }*/

  .icc-date-range-dates::before {
    color: icc.icc-theme(color-basic-default);
    background-color: icc.icc-theme(color-basic-transparent-default);
  }

  icc-calendar-wrapper {
    .icc-date-range-selected-date-end {
      .mat-calendar-body-cell-content {
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }
  }
}
