:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .single-selection {
    width: 600px;
  }

  .multi-selection {
    width: 600px;
  }

  .single-autocomplete {
    width: 600px;
  }

  .multi-autocomplete {
    width: 600px;
  }
}
