<ng-container *ngIf="columnConfig$ | async as columnConfig">
  <button (click)="columnSort('asc')" >
    <i class="fa-solid fa-arrow-up-short-wide"></i>
    Sort ASC
  </button>
  <button (click)="columnSort('desc')">
    <i class="fa-solid fa-arrow-down-wide-short"></i>
    Sort DESC
  </button>
  <ng-container *ngFor="let column of columnConfig; let index = index;">
    <button (click)="columnHideShow(column)" popoverMenuItem="true">
      <icc-checkbox [checked]="!column.hidden" (change)="columnHideShow(column)">
        <div class="checkbox-label" popoverMenuItem="true">{{getTitle(column)}}</div>
      </icc-checkbox>
    </button>
  </ng-container>
</ng-container>
