<!-- not support tree row selection -->

@if (treeColumn && !treeColumn.hidden) {
  <icc-grid-cell
    [style.height]="treeConfig().rowHeight + 'px'"
    [style.padding-left]="nodePadding + 'px'"
    [style.flex]="'0 0 ' + getColumnWidth(treeColumn)"
    [style.max-width]="getColumnWidth(treeColumn)"
  >
    <icc-tree-node [gridSetting]="gridSetting()" [treeConfig]="treeConfig()" [node]="record()" [column]="treeColumn">
    </icc-tree-node>
  </icc-grid-cell>
}

@for (column of columns(); track $index; let index = $index) {
  @if (!column.hidden && column.name !== "name") {
    <icc-grid-cell
      [style.height]="treeConfig().rowHeight + 'px'"
      [style.flex]="'0 0 ' + getColumnWidth(column)"
      [style.max-width]="getColumnWidth(column)"
    >
      <icc-grid-cell-view [gridConfig]="treeConfig()" [rowIndex]="rowIndex()" [record]="record()" [column]="column">
      </icc-grid-cell-view>
    </icc-grid-cell>
  }
}
