<icc-grid-cell
  *ngIf="treeConfig.rowSelection"
  class="icc-tree-cell-row-select"
  [ngStyle]="{ height: treeConfig.rowHeight + 'px' }"
>
  <icc-row-select [isSelected]="selected" (selected)="toggleRowSelection()"> </icc-row-select>
</icc-grid-cell>

<icc-grid-cell
  *ngIf="treeColumn"
  [ngStyle]="{ height: treeConfig.rowHeight + 'px', 'padding-left': nodePadding + 'px' }"
>
  <icc-tree-node [record]="record" [column]="treeColumn"> </icc-tree-node>
</icc-grid-cell>

<ng-container *ngFor="let column of columns; trackBy: trackByIndex; let index = index">
  <icc-grid-cell *ngIf="!column.hidden && column.name !== 'name'" [ngStyle]="{ height: treeConfig.rowHeight + 'px' }">
    <icc-dynamic-grid-cell [record]="record" [column]="column"> </icc-dynamic-grid-cell>
  </icc-grid-cell>
</ng-container>
