<!-- not support tree row selection
<icc-grid-cell
  *ngIf="treeConfig.rowSelection"
  class="icc-tree-cell-row-select"
  [ngStyle]="{ height: treeConfig.rowHeight + 'px', flex: '0 0 ' + selectColumnWidth, 'max-width': selectColumnWidth }"
>
  <icc-row-select [selected]="selected"> </icc-row-select>
</icc-grid-cell>
-->

<icc-grid-cell
  *ngIf="treeColumn && !treeColumn.hidden"
  [ngStyle]="{
    height: treeConfig.rowHeight + 'px',
    'padding-left': nodePadding + 'px',
    flex: '0 0 ' + getColumnWidth(treeColumn),
    'max-width': getColumnWidth(treeColumn),
  }"
>
  <icc-tree-node [gridSetting]="gridSetting" [treeConfig]="treeConfig" [node]="record" [column]="treeColumn">
  </icc-tree-node>
</icc-grid-cell>

<ng-container *ngFor="let column of columns; trackBy: trackByIndex; let index = index">
  <icc-grid-cell
    *ngIf="!column.hidden && column.name !== 'name'"
    [ngStyle]="{
      height: treeConfig.rowHeight + 'px',
      flex: '0 0 ' + getColumnWidth(column),
      'max-width': getColumnWidth(column),
    }"
  >
    <icc-grid-cell-view [record]="record" [column]="column"> </icc-grid-cell-view>
  </icc-grid-cell>
</ng-container>
