:host {
  display: flex;
  width: 100%;
  // text-align: center;
  padding: 0 10px;
  height: 24px; // TODO row cell height in theme or in constants?

  /*
  &.expandable-row {
    justify-content: center;
    align-items: center;
  }*/
}
