:host {
  display: flex;
  flex: 1;

  .grid-cell {
    display: flex;
    align-items: center;
  }

  &.grid-cell-view-align-center {
    justify-content: center;
  }

  &.grid-cell-view-align-right {
    justify-content: right;
  }
}

