//@import "../../../../styles/variables";

:host {
  display: flex;
  width: 100%;
  //padding: $cell-padding;
  text-align: left;
  //color: $text-color;
  //border-bottom: 1px solid $border-color;

  border-style: solid;
  border-color: grey;
  border-width: 1px 0px 0px 1px;
  padding: 0 15px;
  line-height: 25px;

 &.expandable-row {
   justify-content: center;
   align-items: center;
 }

 /*
  @media screen and (max-width: 769px) {
    padding: 0 $size-s;
  }*/

}
