:host {
 // min-height: $header-height;
 // padding: $cell-padding;
  display: flex;
  flex-direction: column;
  width: 100%;
  //height: 64px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  //background-color: $c_white;

  border-style: solid;
  border-color: grey;
  border-width: 1px 0px 1px 1px;
  //padding: 0 10px;
  line-height: 32px;

  &.cdk-drag {
    cursor: move;
/*
    &-preview {
      @include box-shadow(0, 4px, 10px);
    }
*/
    &-disabled {
      cursor: default;
    }
  }

  /*
  @media screen and (max-width: 769px) {
    padding: 0 $size-s;
  }*/
}
