:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;




  &.cdk-drag {
    cursor: move;
/*
    &-preview {
      @include box-shadow(0, 4px, 10px);
    }
*/
    &-disabled {
      cursor: default;
    }
  }

  /*
  @media screen and (max-width: 769px) {
    padding: 0 $size-s;
  }*/
}
