<icc-grid-cell
  *ngIf="gridConfig.rowSelection"
  class="icc-grid-cell-row-select"
  [ngStyle]="{ height: gridConfig.rowHeight + 'px', flex: '0 0 ' + selectColumnWidth, 'max-width': selectColumnWidth }"
>
  <icc-row-select [selected]="selected"> </icc-row-select>
</icc-grid-cell>

<ng-container *ngFor="let column of columns; trackBy: trackByIndex; let index = index">
  <icc-grid-cell
    *ngIf="!column.hidden"
    [ngStyle]="{
      height: gridConfig.rowHeight + 'px',
      flex: '0 0 ' + getColumnWidth(column),
      'max-width': getColumnWidth(column),
    }"
  >
    <icc-dynamic-grid-cell [gridConfig]="gridConfig" [rowIndex]="rowIndex" [column]="column" [record]="record">
    </icc-dynamic-grid-cell>
  </icc-grid-cell>
</ng-container>
