@if (gridConfig().rowSelection) {
  <icc-grid-cell
    class="icc-grid-cell-row-select"
    [style.height]="gridConfig().rowHeight + 'px'"
    [style.flex]="'0 0 ' + selectColumnWidth"
  >
    <icc-row-select [selected]="selected()"> </icc-row-select>
  </icc-grid-cell>
}

@for (column of columns(); track $index; let index = $index) {
  @if (!column.hidden) {
    <icc-grid-cell
      [style.height]="gridConfig().rowHeight + 'px'"
      [style.flex]="'0 0 ' + getColumnWidth(column)"
      [style.max-width]="getColumnWidth(column)"
    >
      @if (!isCellEditable(column)) {
        <icc-grid-cell-view [gridConfig]="gridConfig()" [rowIndex]="rowIndex()" [column]="column" [record]="record()">
        </icc-grid-cell-view>
      } @else {
        <icc-grid-cell-edit
          [gridConfig]="gridConfig()"
          [gridSetting]="gridSetting()"
          [rowIndex]="rowIndex()"
          [column]="column"
          [record]="record()"
        >
        </icc-grid-cell-edit>
      }
    </icc-grid-cell>
  }
}
