<icc-grid-cell>
  <icc-row-select
    [isSelected]="selected"
    (selected)="toggleRowSelection()">
  </icc-row-select>
</icc-grid-cell>

<ng-container *ngFor="let column of columns;">
  <icc-grid-cell>
    <icc-dynamic-grid-cell
      [record]="record"
      [column]="column">
    </icc-dynamic-grid-cell>
  </icc-grid-cell>
</ng-container>

<!--
<ngrx-grid-cell *ngIf="selectionType">
  <ngrx-row-select [isSelected]="selected"
                   [id]="rowIndex"
                   [type]="selectionType"
                   (selected)="toggleRowSelection()">
  </ngrx-row-select>
</ngrx-grid-cell>

-->


