<icc-tab-group
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  cdkDropListElementContainer=".icc-mdc-tab-labels"
  class="icc-drag-tabs"
  [selectedIndex]="selectedTabIndex"
  animationDuration="0"
  (selectedIndexChange)="onSelectedIndexChange($event)"
  [icc-align-tabs]="tabsConfig.alignTabs"
>
  @for (tab of tabs; track $index; let idx = $index) {
    <icc-tab>
      <ng-template icc-tab-label>
        <span
          cdkDrag
          [cdkDragDisabled]="dragDisabled(tab)"
          cdkDragPreviewClass="icc-drag-tabs-preview"
          cdkDragRootElement=".icc-mdc-tab"
          >{{ getTabLabel(tab) }}
        </span>
        <icc-icon
          *ngIf="closeable(tab)"
          class="icc-tab-remove-icon"
          icon="remove"
          (click)="removeTab($event, tab, idx)"
        ></icc-icon>
      </ng-template>
      <icc-portal *ngIf="idx === selectedTabIndex" [content]="tab.content!" [context]="tab.context!"></icc-portal>
    </icc-tab>
  }
</icc-tab-group>
