<icc-tab-group
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  cdkDropListElementContainer=".icc-mdc-tab-labels"
  class="icc-drag-tabs"
  [selectedIndex]="selectedTabIndex"
  animationDuration="0"
  (selectedIndexChange)="onSelectedIndexChange($event)"
>
  @for (tab of tabs; track $index) {
    <icc-tab>
      <ng-template icc-tab-label>
        <span cdkDrag cdkDragPreviewClass="icc-drag-tabs-preview" cdkDragRootElement=".icc-mdc-tab">{{
          getTabLabel(tab)
        }}</span>
      </ng-template>

      <span>Content for {{ tab.name }}</span>
    </icc-tab>
  }
</icc-tab-group>
