<div [@transformPickerOverlay]="shouldAnimate" class="icc-date-range-calendar-container">
  <icc-calendar-wrapper
    [prefixLabel]="startDatePrefix"
    [selectedDate]="fromDate"
    [dateFormat]="dateFormat"
    [excludeWeekends]="excludeWeekends"
    [minDate]="fromMinDate"
    [maxDate]="fromMaxDate"
    [selectedRangeDates]="selectedRangeDates"
    (monthViewChange)="fromMonthViewChange($event)"
    (selectedDateChange)="updateFromDate($event)"
  >
  </icc-calendar-wrapper>

  <icc-calendar-wrapper
    [prefixLabel]="endDatePrefix"
    [selectedDate]="toDate"
    [dateFormat]="dateFormat"
    [excludeWeekends]="excludeWeekends"
    [minDate]="toMinDate"
    [maxDate]="toMaxDate"
    [selectedRangeDates]="selectedRangeDates"
    (monthViewChange)="toMonthViewChange($event)"
    (selectedDateChange)="updateToDate($event)"
  >
  </icc-calendar-wrapper>
</div>

<div class="icc-date-bottom-bar">
  <button icc-button status="primary" (click)="applyNewDates($event)">
    <span translate>{{ applyLabel }}</span>
  </button>
  <button icc-button (click)="discardNewDates($event)">
    <span translate>{{ cancelLabel }}</span>
  </button>
</div>
<!--

<div class="icc-date-range-calendar-presets">
  <div class="icc-date-range-menu">
    <icc-calendar-presets *ngIf="presets" [presets]="presets" (presetChanged)="updateRangeByPreset($event)"></icc-calendar-presets>
    <div class="icc-date-range-controls">
      <button icc-button status="primary" (click)="applyNewDates($event)"><span translate>{{applyLabel}}</span></button>
      <button icc-button (click)="discardNewDates($event)"><span translate>{{cancelLabel}}</span></button>
    </div>
  </div>
</div>
-->
