<div [@transformPickerOverlay]="shouldAnimate" class="icc-date-picker-calendar-container">
  <icc-calendar-wrapper
    *ngIf="calendarConfig"
    [calendarConfig]="calendarConfig"
    [selectedDate]="selectedDate"
    (selectedDateChange)="updateSelectedDate($event)"
  >
  </icc-calendar-wrapper>
</div>
<div class="icc-date-bottom-bar">
  <button icc-button status="primary" (click)="applyNewDates($event)">
    <span translate>{{ "DATE_PICKER.APPLY" }}</span>
  </button>
  <button icc-button (click)="discardNewDates($event)">
    <span translate>{{ "DATE_PICKER.CANCEL" }}</span>
  </button>
</div>
