<div [@transformPickerOverlay]="shouldAnimate" class="icc-date-range-calendar-container">
  <icc-calendar-wrapper
    [prefixLabel]="startDatePrefix"
    [selectedDate]="fromDate"
    [minDate]="fromMinDate"
    [maxDate]="fromMaxDate"
    [selectedRangeDates]="selectedRangeDates"
    (monthViewChange)="fromMonthViewChange($event)"
    (selectedDateChange)="updateFromDate($event)"
  >
  </icc-calendar-wrapper>

  <icc-calendar-wrapper
    [prefixLabel]="endDatePrefix"
    [selectedDate]="toDate"
    [minDate]="toMinDate"
    [maxDate]="toMaxDate"
    [selectedRangeDates]="selectedRangeDates"
    (monthViewChange)="toMonthViewChange($event)"
    (selectedDateChange)="updateToDate($event)"
  >
  </icc-calendar-wrapper>
</div>
