<div class="grid-header-cell" (mouseover)="mouseover=true" (mouseout)="mouseover=false" (click)="headCellClick($event)">
  <div class="grid-header-cell-title" >{{ title }}</div>

  <ng-container *ngIf="isSortField">
    <button *ngIf="sortDir==='asc'" class="grid-header-cell-sort">
      <i class="fa-solid fa-caret-up"></i>
    </button>
    <button *ngIf="sortDir==='desc'" class="grid-header-cell-sort">
      <i class="fa-solid fa-caret-down"></i>
    </button>
  </ng-container>
</div>

<!--TODO mouse over show-->
<ng-container>
  <button icc-button class="grid-header-cell-menu" (click)="onClickColumnMenu($event)">
    <i class="fa-solid fa-ellipsis-v"></i>
  </button>
</ng-container>
