<div class="grid-header-cell" (click)="headCellClick($event)">
  <div class="grid-header-cell-title">{{ title | translate }}</div>

  <ng-container *ngIf="gridConfig.columnSort && isSortField">
    <div *ngIf="sortDir === 'asc'" class="grid-header-cell-sort">
      <icc-icon config="caret-up"></icc-icon>
    </div>
    <div *ngIf="sortDir === 'desc'" class="grid-header-cell-sort">
      <icc-icon config="caret-down"></icc-icon>
    </div>
  </ng-container>

  <ng-container *ngIf="gridConfig.columnMenu">
    <div class="grid-header-cell-menu" [cdkMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
      <icc-icon config="ellipsis-v"></icc-icon>
    </div>
    <ng-template #menu>
      <icc-grid-column-menu [gridId]="gridSetting.gridId" [column]="column" [values]="values"></icc-grid-column-menu>
    </ng-template>
  </ng-container>
</div>
