:host {
  display: flex;
  width: 100%;
  padding: 0 10px;
  align-items: center;

  button {
    padding: 0 2px;
  }

  .grid-header-cell {
     display: flex;
     justify-content: center;
     width: 100%;
     align-items: center;

    .grid-header-cell-title {
      display: inline-block;
      cursor: default;
      font-size: 13px;
      font-weight: 600;
      padding-right: 6px;
      //margin: 0 $size-xs 0 0;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  /*
      &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }*/
    }

    .grid-header-cell-sort {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
    }
  }
  .grid-header-cell-menu {
    margin-left: auto !important;
  }
}

/*
.caret-up {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid; // rgba($color: $text-color, $alpha: .4);
  margin-bottom: 3px;
}

.fa-caret {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid; // rgba($color: $text-color, $alpha: .4);
}
*/
