<div class="grid-header-cell">
  <div class="grid-header-cell-title" (click)="headCellClick($event)">{{ title }}</div>

  <ng-container *ngIf="isSortField">
    <button *ngIf="sortDir==='asc'"
      class="grid-header-cell-sort"
      (click)="headCellClick($event)">
      <i class="fa-solid fa-caret-up"></i>
    </button>
    <button *ngIf="sortDir==='desc'"
      class="grid-header-cell-sort"
      (click)="headCellClick($event)">
      <i class="fa-solid fa-caret-down"></i>
    </button>
  </ng-container>
</div>

<ng-container>
  <button icc-button class="grid-header-cell-menu" (click)="onClickColumnMenu($event)">
    <i class="fa-solid fa-bars"></i>
  </button>
</ng-container>
