<cdk-tree *ngIf="dataSource.data.length > 0" #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <!-- This is the tree node template for leaf nodes -->
  <cdk-tree-node
    *cdkTreeNodeDef="let node"
    cdkTreeNodePadding
    cdkTreeNodePaddingIndent="15"
    [style.display]="shouldRender(node) ? 'flex' : 'none'"
    [isDisabled]="!shouldRender(node)"
    class="icc-tree-node"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button icc-button disabled></button>
    {{ node.name }}
  </cdk-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <cdk-tree-node
    *cdkTreeNodeDef="let node; when: hasChild"
    cdkTreeNodePadding
    cdkTreeNodePaddingIndent="15"
    cdkTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.name"
    [style.display]="shouldRender(node) ? 'flex' : 'none'"
    [isDisabled]="!shouldRender(node)"
    [isExpandable]="true"
    class="icc-tree-node"
  >
    <button icc-button cdkTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <icc-icon>
        {{ tree.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </icc-icon>
    </button>
    {{ node.name }}
  </cdk-tree-node>
</cdk-tree>

<!--
<cdk-virtual-scroll-viewport itemSize="50">
  <ng-container *cdkVirtualFor="let node of flatTreeData">
    <div [style.padding-left]="node.level * 20 + 'px'">
      {{ node.name }} 
    </div>
  </ng-container>
</cdk-virtual-scroll-viewport>
-->
