<mat-calendar
  [startAt]="selectedDate"
  [selected]="selectedDate"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [dateClass]="dateClass()"
  (selectedChange)="onSelectedChange($event)"
  (yearSelected)="onYearSelected($event)"
  (monthSelected)="onMonthSelected($event)"
  (_userSelection)="onUserSelection($event)"
  [dateFilter]="weekendFilter"
>
</mat-calendar>

<span class="icc-date-selected-label">
  <label translate>{{ prefixLabel }}</label
  ><span>:</span>
  <label class="icc-date-range-selected-date-label">{{ selectedDate! | localeDate: dateFormat }}</label>
</span>
