<div *ngIf="hasHeader(fieldConfig)" class="icc-select-field-sticky-header">
  @if (fieldConfig.multiSelection && fieldConfig.checkAll) {
    <icc-option (click)="checkAll(selectOptions)">
      <icc-checkbox [checked]="isAllChecked">{{ "ICC.UI.ACTIONS.CHECK_ALL" | translate }}</icc-checkbox>
    </icc-option>
  }
  @if (fieldConfig.multiSelection && fieldConfig.uncheckAll) {
    <icc-option (click)="checkAll([])">
      <icc-checkbox [checked]="!hasValue">{{ "ICC.UI.ACTIONS.UNCHECK_ALL" | translate }}</icc-checkbox>
    </icc-option>
  }
  @if (fieldConfig.isEmpty) {
    <icc-option #refIsEmpty [value]="isEmptyValue" (click)="headerOptionClick(refIsEmpty)">
      <icc-checkbox [checked]="refIsEmpty.selected">
        {{ "ICC.UI.ACTIONS.IS_EMPTY" | translate }}
      </icc-checkbox>
    </icc-option>
  }
  @if (fieldConfig.notEmpty) {
    <icc-option #refIsNotEmpty [value]="notEmptyValue" (click)="headerOptionClick(refIsNotEmpty)">
      <icc-checkbox [checked]="refIsNotEmpty.selected">
        {{ "ICC.UI.ACTIONS.NOT_EMPTY" | translate }}
      </icc-checkbox>
    </icc-option>
  }
</div>

<ng-container
  *ngIf="selectOptions | selectFilter: selectFilter : fieldConfig.optionLabel : fieldConfig.singleListOption as result"
>
  <cdk-virtual-scroll-viewport
    class="icc-select-virtual-scroll"
    [itemSize]="28"
    (scrolledIndexChange)="onScrolledIndexChange($event)"
  >
    <icc-option
      class="icc-select-field-option"
      *cdkVirtualFor="let option of result"
      [value]="option"
      #ref
      (click)="clickOption(ref)"
    >
      @if (fieldConfig.multiSelection) {
        <icc-checkbox [checked]="ref.selected">
          <icc-filter-highlight [value]="getOptionLabel(option)" [filterValue]="filterValue"> </icc-filter-highlight>
        </icc-checkbox>
      } @else if (fieldConfig.singleListOption && fieldConfig.selectOnly) {
        <ng-container>{{ option }}</ng-container>
      } @else {
        <icc-filter-highlight [value]="getOptionLabel(option)" [filterValue]="filterValue"> </icc-filter-highlight>
      }
    </icc-option>
    @if (!result.length) {
      <icc-option class="no-result">{{ "ICC.UI.LIST.NO_RESULT" | translate }}</icc-option>
    }
  </cdk-virtual-scroll-viewport>
</ng-container>
