<ng-container *ngIf="fieldConfig$ | async as fieldConfig">
  <ng-container *ngIf="form" [formGroup]="form">
    <icc-form-field
      *ngIf="selectOptions$ | async as selectOptions"
      [ngStyle]="{ display: hidden ? 'none' : 'inherit' }"
      [iccLabelWidth]="fieldConfig.labelWidth"
      [iccFieldWidth]="fieldConfig.fieldWidth"
      [iccFieldControl]="field"
    >
      <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
        {{ fieldConfig.fieldLabel }}
      </icc-label>
      <input
        iccInput
        type="text"
        autocomplete="off"
        [readonly]="!!fieldConfig.selectOnly"
        [formControlName]="fieldConfig.fieldName!"
        (isOverlayOpen)="overlayOpen($event)"
        (change)="onChange($event)"
        (blur)="onBlur()"
        [iccAutocomplete]="autocomplete"
        [iccAutocompleteClose]="autocompleteClose"
        [required]="required"
        placeholder="{{ fieldConfig.placeholder }}"
      />
      <icc-icon
        *ngIf="fieldConfig.clearValue && hasValue"
        icon="remove"
        iccSuffix
        (click)="clearSelected($event)"
      ></icc-icon>
      <icc-icon
        *ngIf="!field.disabled"
        icon="angle-down"
        iccSuffix
        [ngStyle]="{ display: isOverlayOpen ? 'none' : '' }"
      ></icc-icon>
      <icc-icon *ngIf="isOverlayOpen" icon="angle-up" iccSuffix (click)="closeOverlay()"></icc-icon>
      <icc-autocomplete
        #autocomplete="iccAutocomplete"
        [multiSelection]="fieldConfig.multiSelection"
        [displayWith]="displayFn.bind(this)"
        [compareWith]="compareFn.bind(this)"
      >
        <ng-template iccAutocompleteContent>
          <ng-container *ngIf="selectOptions | filter: selectedField.value : fieldConfig.optionLabel as result">
            <icc-option *ngFor="let option of result" [value]="option" #ref>
              <icc-checkbox *ngIf="fieldConfig.multiSelection" [checked]="ref.selected">
                <icc-filter-highlight [value]="option[fieldConfig.optionLabel]" [filterValue]="filterValue">
                </icc-filter-highlight>
              </icc-checkbox>
              <ng-container *ngIf="!fieldConfig.multiSelection">
                <icc-filter-highlight [value]="option[fieldConfig.optionLabel]" [filterValue]="filterValue">
                </icc-filter-highlight>
              </ng-container>
            </icc-option>
            <icc-option class="no-result" *ngIf="!result.length">No Result</icc-option>
          </ng-container>
        </ng-template>
      </icc-autocomplete>

      <icc-form-field-errors *ngIf="field?.touched && field?.errors">
        <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
      </icc-form-field-errors>
    </icc-form-field>
  </ng-container>
</ng-container>

<!--

-->
