<a
  *ngIf="menuItem.link"
  class="icc-menu-item"
  [routerLink]="menuItem.link"
  [queryParams]="menuItem.queryParams"
  [routerLinkActiveOptions]="menuItem.routerOptions || {}"
  routerLinkActive="active"
>
  <icc-icon *ngIf="menuItem.icon" class="icc-menu-icon" [config]="menuItem.icon"></icc-icon>
  <span class="icc-menu-title"> {{ title | translate }} </span>
</a>

<icc-checkbox-field
  *ngIf="menuItem.checkbox"
  [form]="form"
  [fieldConfig]="fieldConfig"
  [showFieldFieldIndicator]="false"
  [disabled]="disabledMenu"
>
</icc-checkbox-field>

<!--
  [disabled]="!!menuItem.disabled"
[showFieldFieldIndicator]=
<icc-checkbox
  *ngIf="menuItem.checkbox"
  class="icc-menu-item"
  [checked]="!!menuItem.checked"
  [disabled]="!!menuItem.disabled"
>
  <icc-icon *ngIf="menuItem.icon" class="icc-menu-icon" [config]="menuItem.icon"></icc-icon>
  <span class="icc-menu-title"> {{ title | translate }} </span>
</icc-checkbox>
-->

<div *ngIf="!menuItem.link && !menuItem.checkbox" class="icc-menu-item">
  <icc-icon *ngIf="menuItem.icon" class="icc-menu-icon" [config]="menuItem.icon"></icc-icon>
  <span class="icc-menu-title"> {{ title | translate }} </span>
  <icc-icon class="icc-menu-icon-has-children" *ngIf="hasChildItem(menuItem)" config="caret-right"></icc-icon>
</div>
