<a *ngIf="menuItem.link"
  [routerLink]="menuItem.link"
  [queryParams]="menuItem.queryParams"
  [routerLinkActiveOptions]="menuItem.routerOptions || {}"
  routerLinkActive="active"
>
  <icc-icon *ngIf="menuItem.icon" class="icc-menu-icon" [config]="menuItem.icon" ></icc-icon>
  <span class="icc-menu-title"> {{ title }} </span>
</a>

<icc-checkbox *ngIf="menuItem.checkbox"
  [checked]="!!menuItem.checked"
  (change)="onCheckboxChange($event)"
  >
  <icc-icon *ngIf="menuItem.icon" class="icc-menu-icon" [config]="menuItem.icon" ></icc-icon>
  <span class="icc-menu-title"> {{ title }} </span>
</icc-checkbox>
