:host {
  display: flex;
  height: 28px;
  width: 100%;
  align-items: center;

  .icc-menu-item {
    padding: 0px 10px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  icc-checkbox {
    width: 100%;
  }

  .icc-menu-title,
  a {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }

  &.disabled {
    .icc-menu-title,
    .icc-menu-icon {
      opacity: 0.5;
    }

    .icc-menu-item {
      &:hover {
        cursor: default;
      }
    }
  }

  a {
    width: 100%;
    border: none;
  }
}

:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}
