:host {
  display: flex;
  height: 28px;
  width: 100%;
  align-items: center;

  .icc-menu-item {
    padding: 0px 10px;
    width: 100%;
  }

  icc-checkbox {
    width: 100%;
  }

  .icc-menu-title {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }

  /*
  border-top: 1px solid gray;
  &:focus,
  &:hover {
    //background-color: lightgrey;
  }

  &.selected {
    //color: cyan; //sun-theme(option-selected-text-color);
    //background-color: cyan;
    font-weight: bold;
  }
    */

  &.disabled {
    // TODO may need disabled color?
    .icc-menu-title,
    .icc-menu-icon {
      opacity: 0.5;
    }
  }

  a {
    width: 100%;
    border: none;
  }
}

:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}
