:host {
  display: flex;
  height: 32px;
  padding: 0px 15px;
  width: 100%;


  align-items: center;
  border-top: 1px solid gray;
  &:focus,
  &:hover {
    background-color: lightgrey;
  }

  &.selected {
    //color: cyan; //sun-theme(option-selected-text-color);
    background-color: cyan;
    font-weight: bold;
  }

  &.disabled { // TODO may need disabled color?
    .icc-menu-title, .icc-menu-icon {
      opacity: 0.5;
    }
  }

  a {
      width: 100%;
      border: none;
    }
  }

  :-webkit-any-link {
    color: inherit;
    text-decoration: none;
  }
/*
::ng-deep .icc-menu-item.menu-item-separator {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  border-top-width: 1px;
}

ul.icc-menu-items {
  .icc-menu-item {
    padding: 0;

    a {
      flex-grow: 1;
      padding-left: 0.625rem;
      padding-right: 1.625rem;

      .icc-menu-title {
        padding: 0;
      }
    }

    &.sub-menu-item {
      a.active {
        .icc-menu-title {
          border: none;
        }
      }
    }
  }
}

a {
  white-space: nowrap;
}
*/
