:host {
  display: flex;
  position: relative; // for resize handle position
  flex-direction: column;
  ::ng-deep {
    icc-layout-panel-header {
      flex: 0 1 auto;
    }
    icc-layout-panel-footer {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      flex-flow: row wrap;
    }
  }
}
