@use "../styles/calendar-mixins" as calendar;

.icc-weekdays {
  position: sticky;
  top: 0;
  z-index: 1;
  @include calendar.calendarGrid();

  &__day {
    @include calendar.calendarGridCell();
    font-variant: none;
    text-decoration: none;
  }
}
