<ng-container *ngFor="let error of errors; trackBy: trackByIndex; let index = index">
  <ng-container [ngSwitch]="error.type">
    <icc-error *ngSwitchDefault>
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ error.message }}
    </icc-error>

    <icc-error *ngSwitchCase="'required'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "ICC.UI.FIELDS.ERRORS.FIELD_IS_REQUIRED" | translate }}
    </icc-error>

    <icc-error *ngSwitchCase="'minlength'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "ICC.UI.FIELDS.ERRORS.MIN_LENGTH" | translate: { length: error.requiredLength } }}
    </icc-error>

    <icc-error *ngSwitchCase="'maxlength'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "ICC.UI.FIELDS.ERRORS.MAX_LENGTH" | translate: { length: error.requiredLength } }}
    </icc-error>

    <icc-error *ngSwitchCase="'min'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "ICC.UI.FIELDS.ERRORS.MIN_VALUE" | translate: { value: error.min } }}
    </icc-error>

    <icc-error *ngSwitchCase="'max'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "ICC.UI.FIELDS.ERRORS.MAX_VALUE" | translate: { value: error.max } }}
    </icc-error>

    <icc-error *ngSwitchCase="'confirmationPassword'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "ICC.UI.FIELDS.ERRORS.NOT_MATCH" | translate }}
    </icc-error>
  </ng-container>
</ng-container>
<!--
confirmationPassword-->
