<ng-container *ngFor="let error of errors; trackBy: trackByIndex; let index = index">
  <ng-container [ngSwitch]="error.type">
    <icc-error *ngSwitchDefault>
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ error.message }}
    </icc-error>

    <icc-error *ngSwitchCase="'required'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "ICC.EDITOR.FIELD_IS_REQUIRED" | translate }}
    </icc-error>

    <icc-error *ngSwitchCase="'minlength'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "minlength" }}
    </icc-error>

    <icc-error *ngSwitchCase="'maxlength'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "maxlength" }}
    </icc-error>

    <icc-error *ngSwitchCase="'min'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "minvalue" }}
    </icc-error>

    <icc-error *ngSwitchCase="'max'">
      <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
      {{ "maxvalue" }}
    </icc-error>
  </ng-container>
</ng-container>
