@mixin icc-layout-theme() {
  .icc-main-viewport-layout {
    icc-layout-header {
      height: 36px;
      margin-bottom: 2px;
    }
    icc-layout-horizontal {
      height: calc(100vh - 62px);
    }
    icc-layout-footer {
      height: 24px;
    }
  }

  .icc-normal-layout {
    icc-layout-header {
      height: 30px;
      margin-bottom: 2px;
      justify-content: flex-end;
    }
    icc-layout-horizontal {
      height: unset;
    }
    icc-layout-footer {
      height: unset;
    }
  }

  icc-layout,
  icc-layout-header,
  icc-layout-footer,
  icc-layout-horizontal {
    background-color: var(--app-background-color); // TODO header different color???
    color: icc-theme(app-text-basic-color);
  }

  .icc-layout-top-bar-title {
    display: flex;
    margin-right: auto;
    align-items: center;
  }

  .icc-layout-resize-right,
  .icc-horizontal-resize-left,
  .icc-horizontal-resize-right {
    height: 100%;
    min-width: 2px;
    &:focus,
    &:hover {
      border-right: 2px solid red;
      color: red;
    }
  }
  .icc-layout-resize-bottom,
  .icc-vertical-resize-top,
  .icc-vertical-resize-bottom {
    min-height: 2px;
    width: 100%;
    &:focus,
    &:hover {
      border-bottom: 2px solid red;
      color: red;
    }
  }
}
