@mixin icc-layout-theme() {
  .icc-main-viewport-layout {
    icc-layout-header {
      height: 50px;
    }
    icc-layout-horizontal {
      height: calc(100vh - 80px);
    }
    icc-layout-footer {
      height: 30px;
    }
  }

  .icc-normal-layout {
    icc-layout-header {
      height: unset;
    }
    icc-layout-horizontal {
      height: unset;
    }
    icc-layout-footer {
      height: unset;
    }
  }

  icc-layout,
  icc-layout-header,
  icc-layout-footer,
  icc-layout-horizontal,
  icc-layout-left,
  icc-layout-center,
  icc-layout-right {
    background-color: var(--app-background-color);
    color: icc-theme(app-text-basic-color);
  }
}
