@mixin icc-layout-theme() {
  .icc-main-container {
    background-color: icc-theme(layout-background-color);
    color: icc-theme(text-basic-color);
  }

  icc-layout-header,
  icc-layout-footer {
    background-color: icc-theme(background-basic-color-1);
    color: icc-theme(text-basic-color);
  }
}
