:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

  ::ng-deep {
    icc-layout-header-end {
      display: flex;
      z-index: 2;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }
  }
}
