:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  z-index: 2;

  ::ng-deep {
    icc-layout-footer-start {
      margin-left: 0;
      margin-right: auto;
    }

    icc-layout-footer-center {
      margin: auto;
    }

    icc-layout-footer-end {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
