:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: calc(100vw);
  overflow-y: hidden;
  overflow-x: hidden;

  ::ng-deep {
    icc-layout-header {
      display: flex;
      height: 50px;
      min-height: 50px;
      justify-content: center;
      align-items: center;
      //border: 1px solid green;
    }

    icc-layout-sidebar {
      display: flex;
      flex-direction: column;
      width: 250px;
      max-width: 400px;
      min-width: 250px;
      padding-right: 5px;
    }

    icc-layout-center {
      display: flex;
      width: calc(100vw - 250px);
      padding-right: 5px;
    }

    icc-layout-footer {
      display: flex;
      z-index: 2;
      height: 30px;
      min-height: 30px;
      justify-content: center;
      align-items: center;
      //border: 1px solid green;
    }

    icc-layout-main {
      display: flex;
      height: -webkit-fill-available;
      max-height: calc(100vh - 80px);
    }
  }
}
