:host {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;

  ::ng-deep {
    icc-layout-left {
      display: flex;
      position: relative;
      z-index: 1;
      min-width: 2px;
      width: 250px;
      height: -webkit-fill-available;
    }

    icc-layout-center {
      display: flex;
      flex: 1 1 auto;
      min-width: 2px;
      height: -webkit-fill-available;
    }

    icc-layout-right {
      display: flex;
      position: relative;
      z-index: 1;
      width: 250px;
      min-width: 2px;
      height: -webkit-fill-available;
    }
  }

  .icc-horizontal-resize-left,
  .icc-horizontal-resize-right {
    height: 100%;
  }
}
