<ng-content select="icc-layout-header"></ng-content>
<ng-content></ng-content>
<ng-content select="icc-layout-content"></ng-content>
<ng-content select="icc-layout-footer"></ng-content>

<div
  *ngIf="resizeable"
  IccResizeRight
  iccResize
  direction="right"
  elementKey="right"
  (iccResizeEvent)="onResizePanel($event)"
></div>
<div
  *ngIf="resizeable"
  IccResizeBottom
  iccResize
  direction="bottom"
  elementKey="bottom"
  (iccResizeEvent)="onResizePanel($event)"
></div>
<div
  *ngIf="resizeable"
  IccResizeBottomRight
  iccResize
  direction="bottomRight"
  elementKey="bottomRight"
  (iccResizeEvent)="onResizePanel($event)"
></div>
