<ng-content select="icc-layout-top"></ng-content>
<ng-content></ng-content>
<ng-container #contentResizeTopBottom *ngIf="resizeable"></ng-container>
<ng-content select="icc-layout-middle"></ng-content>
<ng-container #contentResizeBottomTop *ngIf="resizeable"></ng-container>
<ng-content select="icc-layout-bottom"></ng-content>

<ng-template #tplResizeTopBottom>
  <div
    class="icc-vertical-resize-top"
    IccResizeTopBottom
    iccResize
    [direction]="resizeType.TOP_BOTTOM"
    [elementKey]="elementKey"
    (iccResizeEvent)="onResizePanel($event)"
  ></div>
</ng-template>

<ng-template #tplResizeBottomTop>
  <div
    class="icc-vertical-resize-bottom"
    IccResizeBottomTop
    iccResize
    [direction]="resizeType.BOTTOM_TOP"
    [elementKey]="elementKey"
    (iccResizeEvent)="onResizePanel($event)"
  ></div>
</ng-template>
