:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  ::ng-deep {
    icc-layout-top {
      position: relative;
      z-index: 1;
      min-height: 2px;
      height: 150px;
    }

    icc-layout-middle {
      display: flex;
      flex: 1 1 auto;
      min-height: 2px;
    }

    icc-layout-bottom {
      position: relative;
      z-index: 1;
      min-height: 2px;
      height: 150px;
    }
  }

  .icc-vertical-resize-top,
  .icc-vertical-resize-bottom {
    width: 100%;
  }
}
