:host {
  display: flex;
  position: relative; // for resize handle position
  flex-direction: column;
  width: 100%;

  ::ng-deep {
    icc-layout-header {
      display: flex;
      flex-direction: row;
      height: 50px;
      min-height: 50px;
      justify-content: center;
      align-items: center;
    }

    icc-layout-footer {
      display: flex;
      z-index: 2;
      height: 30px;
      min-height: 30px;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      //border: 1px solid blue;
    }
  }
}
