:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: calc(100vw);
  overflow-y: hidden;
  overflow-x: hidden;

  ::ng-deep {
    icc-layout-header {
      display: flex;
      height: 50px;
      min-height: 50px;
      justify-content: center;
      align-items: center;
    }

    icc-layout-footer {
      display: flex;
      height: 30px;
      min-height: 30px;
      justify-content: center;
      align-items: center;
      //color: orange;
    }
  }

  .icc-main-container {
    display: flex;
    height: -webkit-fill-available;
    max-height: calc(100vh - 80px);
  }
}
