:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid magenta;

  ::ng-deep icc-layout-panel-content {
    flex-direction: row;
    overflow: hidden;
    flex: 1 1 auto;

    div[start] {
      min-width: 150px;
      width: 250px;
      border: 1px solid red;
    }

    div[middle] {
      display: flex;
      flex: 1 1 auto;
      border: 1px solid orange;
      //height: -webkit-fill-available;;
    }

    div[end] {
      //flex: 0 0 200px;
      width: 250px;
      min-width: 150px;
      border: 1px solid blue;
    }
  }

  .icc-content-resize-left,
  .icc-content-resize-right {
    // cursor: col-resize;
    height: 100%;
    // border-left: 1px solid darkgreen; // no need border
  }

  .icc-content-resize-right {
    padding-left: 5px;
  }

  .icc-content-resize-top,
  .icc-content-resize-bottom {
    // cursor: row-resize;
    width: 100%;
    border-top: 1px solid darkgreen; // no need border
  }

  .icc-content-resize-bottom {
    padding-top: 5px;
  }
}
