<ng-content select="icc-layout-header"></ng-content>
<ng-content></ng-content>
<ng-content select="icc-layout-footer"></ng-content>

<div
  *ngIf="resizeable"
  IccResizeRight
  iccResize
  direction="right"
  [elementKey]="elementKey"
  (iccResizeEvent)="onResizePanel($event)"
></div>
<div
  *ngIf="resizeable"
  IccResizeBottom
  iccResize
  direction="bottom"
  [elementKey]="elementKey"
  (iccResizeEvent)="onResizePanel($event)"
></div>
<div
  *ngIf="resizeable"
  IccResizeBottomRight
  iccResize
  direction="bottomRight"
  [elementKey]="elementKey"
  (iccResizeEvent)="onResizePanel($event)"
></div>
