<ng-content select="icc-layout-left"></ng-content>
<ng-content></ng-content>
@if (resizeable()) {
  <ng-container #contentResizeLeftRight></ng-container>
}
<ng-content select="icc-layout-center"></ng-content>
@if (resizeable()) {
  <ng-container #contentResizeRightLeft></ng-container>
}
<ng-content select="icc-layout-right"></ng-content>

<ng-template #tplResizeLeftRight>
  <div
    class="icc-horizontal-resize-left"
    IccResizeLeftRight
    iccResize
    [direction]="resizeType.LEFT_RIGHT"
    [elementKey]="elementKey"
    (iccResizeEvent)="onResizePanel($event)"
    (dblclick)="togglePanel('left')"
  ></div>
</ng-template>

<ng-template #tplResizeRightLeft>
  <div
    class="icc-horizontal-resize-right"
    IccResizeRightLeft
    iccResize
    [direction]="resizeType.RIGHT_LEFT"
    [elementKey]="elementKey"
    (iccResizeEvent)="onResizePanel($event)"
    (dblclick)="togglePanel('right')"
  ></div>
</ng-template>
