<icc-layout *ngIf="uploadFiles$ | async as uploadFiles">
  <icc-layout-header
    title="ICC.UI.FILE_UPLOAD.FILE_SELECT_UPLOAD"
    [buttons]="buttons"
    (iccButtonClick)="buttonClick($event)"
  >
    <icc-checkbox [checked]="checked" (change)="onChange($event)">{{
      "ICC.UI.ACTIONS.ENABLED" | translate
    }}</icc-checkbox>
  </icc-layout-header>

  <div class="icc-file-select-files">
    <ng-container *ngFor="let fieldConfig of fieldConfigs">
      <icc-upload-file-field [fieldConfig]="fieldConfig" (selectUploadFile)="selectUploadFile(fieldConfig, $event)">
      </icc-upload-file-field>
    </ng-container>
  </div>

  <icc-file-upload-grid> </icc-file-upload-grid>
</icc-layout>
