@if (uploadFiles$()) {
  <icc-layout>
    <icc-layout-header
      title="ICC.UI.FILE_UPLOAD.FILE_SELECT_UPLOAD"
      [buttons]="buttons$()"
      (iccButtonClick)="buttonClick($event)"
    >
      <icc-checkbox [checked]="enabled()" (change)="onChange($event)">
        {{ "ICC.UI.ACTIONS.ENABLED" | translate }}
      </icc-checkbox>
    </icc-layout-header>

    <div class="icc-file-select-files">
      @for (fieldConfig of fieldConfigs(); track $index; let index = $index) {
        <icc-upload-file-field [fieldConfig]="fieldConfig" (selectUploadFile)="selectUploadFile(fieldConfig, $event)">
        </icc-upload-file-field>
      }
    </div>

    <icc-file-upload-grid> </icc-file-upload-grid>
  </icc-layout>
}
