<icc-layout>
  <icc-layout-header *ngIf="uploadFiles$ | async as uploadFiles">
    <div class="icc-layout-top-bar-title">{{ "ICC.UI.FILE_UPLOAD.FILE_DROP_UPLOAD" | translate }}</div>
    <icc-checkbox [checked]="checked" (change)="onChange($event)">{{
      "ICC.UI.ACTIONS.ENABLED" | translate
    }}</icc-checkbox>
    <ng-container *ngFor="let button of buttons">
      <button icc-button [disabled]="uploadFiles.length === 0" (click)="buttonClick(button)">
        <icc-icon *ngIf="button.icon" [icon]="button.icon"></icc-icon>
        {{ button.title | translate }}
      </button>
    </ng-container>
  </icc-layout-header>

  <icc-file-drop
    [accept]="'*'"
    [dropZoneClassName]="className"
    [disabled]="!checked"
    [multiple]="true"
    (onFileDrop)="dropped($event)"
  >
  </icc-file-drop>

  <icc-file-upload-grid> </icc-file-upload-grid>
</icc-layout>
