:host {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 5px;
  overflow-y: hidden;

  icc-layout-header {
    margin-bottom: 0px;
    border-bottom: 1px solid blueviolet;
  }

  icc-layout-horizontal {
    flex-direction: column;
    overflow-y: auto;
  }
}
