<div
  class="icc-dragable-window"
  cdkDragBoundary=".cdk-overlay-container"
  cdkDrag
  [cdkDragDisabled]="windowConfig().dragDisabled"
  (cdkDragEnded)="dragEnded($event)"
>
  @if (windowConfig().showHeader) {
    <icc-layout-header [title]="windowConfig().title" cdkDragHandle>
      @if (windowConfig().maximizable && isMaxWindowSize) {
        <button icc-button [ghost]="true" (click)="restore()"><icc-icon icon="window-restore"></icc-icon>&nbsp;</button>
      }
      @if (windowConfig().maximizable && !isMaxWindowSize) {
        <button icc-button [ghost]="true" (click)="maximize()"><icc-icon icon="expand"></icc-icon>&nbsp;</button>
      }
      @if (windowConfig().closable) {
        <button icc-button [ghost]="true" (click)="close()"><icc-icon icon="close"></icc-icon>&nbsp;</button>
      }
    </icc-layout-header>
  }

  <ng-content></ng-content>

  @if (windowConfig().resizeable) {
    <div
      IccResizeTop
      iccResize
      [direction]="resizeType.TOP"
      [elementKey]="elementKey"
      (iccResizeEvent)="onResizePanel($event)"
    ></div>

    <div
      IccResizeRight
      iccResize
      [direction]="resizeType.RIGHT"
      [elementKey]="elementKey"
      (iccResizeEvent)="onResizePanel($event)"
    ></div>
    <div
      IccResizeBottom
      iccResize
      [direction]="resizeType.BOTTOM"
      [elementKey]="elementKey"
      (iccResizeEvent)="onResizePanel($event)"
    ></div>

    <div
      IccResizeLeft
      iccResize
      [direction]="resizeType.LEFT"
      [elementKey]="elementKey"
      (iccResizeEvent)="onResizePanel($event)"
    ></div>
    <div
      IccResizeTopLeft
      iccResize
      [direction]="resizeType.TOP_LEFT"
      [elementKey]="elementKey"
      (iccResizeEvent)="onResizePanel($event)"
    ></div>

    <div
      IccResizeTopRight
      iccResize
      [direction]="resizeType.TOP_RIGHT"
      [elementKey]="elementKey"
      (iccResizeEvent)="onResizePanel($event)"
    ></div>

    <div
      IccResizeBottomRight
      iccResize
      [direction]="resizeType.BOTTOM_RIGHT"
      [elementKey]="elementKey"
      (iccResizeEvent)="onResizePanel($event)"
    ></div>

    <div
      IccResizeBottomLeft
      iccResize
      [direction]="resizeType.BOTTOM_LEFT"
      [elementKey]="elementKey"
      (iccResizeEvent)="onResizePanel($event)"
    ></div>
  }
</div>
