<div
  class="icc-dragable-window"
  cdkDragBoundary=".cdk-overlay-container"
  cdkDrag
  [cdkDragDisabled]="windowConfig.dragDisabled"
  (cdkDragEnded)="dragEnded($event)"
>
  <ng-content></ng-content>

  <!--
  cdkDrag cdkDragRootElement=".cdk-overlay-pane"
  -->
  <div
    *ngIf="windowConfig.resizeable"
    IccResizeRight
    iccResize
    [direction]="resizeType.RIGHT"
    [elementKey]="elementKey"
    (iccResizeEvent)="onResizePanel($event)"
  ></div>
  <div
    *ngIf="windowConfig.resizeable"
    IccResizeBottom
    iccResize
    [direction]="resizeType.BOTTOM"
    [elementKey]="elementKey"
    (iccResizeEvent)="onResizePanel($event)"
  ></div>
  <div
    *ngIf="windowConfig.resizeable"
    IccResizeBottomRight
    iccResize
    [direction]="resizeType.BOTTOM_RIGHT"
    [elementKey]="elementKey"
    (iccResizeEvent)="onResizePanel($event)"
  ></div>

  <button icc-button (click)="close()">Close Window</button>
</div>
