:host {
  width: 100%;
  display: flex;
  flex-direction: row;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    icc-form {
      padding-bottom: 15px;
    }
  }
}
