<!--
<div>
  <icc-checkbox [checked]="checked"> Text Checkbox </icc-checkbox>
</div>
-->

<div>
  <icc-display-field [fieldConfig]="displayConfig" [value]="diaplayValue"></icc-display-field>
</div>

<div>
  <icc-checkbox-field [fieldConfig]="checkboxConfig" [value]="checkboxValue"></icc-checkbox-field>
</div>

<icc-hidden-field [fieldConfig]="hiddenConfig" [value]="hiddenValue"></icc-hidden-field>
<div>
  <icc-number-field [fieldConfig]="numberConfig" [value]="numberValue"></icc-number-field>
</div>

<form [formGroup]="showcaseForm">
  <icc-form-field>
    <icc-label>Date</icc-label>
    <input
      type="text"
      iccInput
      iccCalendarToggle
      readonly
      placeholder="Select Date"
      [calendarModal]="datepicker"
      [value]="datepickerControl.value | localeDate"
    />
    <icc-calendar #datepicker [formControl]="datepickerControl"></icc-calendar>
  </icc-form-field>
</form>

<div>
  <icc-date-field [fieldConfig]="dateConfig" [value]="dateValue"></icc-date-field>
</div>
