<div>Test 1</div>

<icc-form [formConfig]="formConfig" [formFields]="fieldSet" [values]="values"></icc-form>

<!--

<div class="grow-box">
  Test 2
  <div class="container2">Inner</div>
</div>
<div>
  <icc-display-field [fieldConfig]="displayConfig" [value]="diaplayValue"></icc-display-field>
</div>

<div>
  <icc-checkbox-field [fieldConfig]="checkboxConfig" [value]="checkboxValue"></icc-checkbox-field>
</div>

<icc-hidden-field [fieldConfig]="hiddenConfig" [value]="hiddenValue"></icc-hidden-field>
<div>
  <icc-number-field [fieldConfig]="numberConfig" [value]="numberValue"></icc-number-field>
</div>

<div>
  <icc-date-field [fieldConfig]="dateConfig" [value]="dateValue"></icc-date-field>
</div>

<div>
  <icc-text-field [fieldConfig]="textConfig" [value]="textValue"></icc-text-field>
</div>

<div>
  <icc-textarea-field [fieldConfig]="textareaConfig" [value]="textareaValue"></icc-textarea-field>
</div>

<div>
  <icc-select-field [fieldConfig]="multiSelectionRemote" [value]="multiObjectStates"></icc-select-field>
</div>
-->
