@use "../styles/calendar-constants" as calendarConstants;
@use "../styles/calendar-mixins" as calendar;

.icc-month-header {
  @include calendar.calendarGrid();

  &__caption {
    @include calendar.calendarGridCell();
    flex-grow: 1;

    grid-column: 2 / span 5;
  }

  &__stepper {
    @include calendar.calendarGridCell();

    height: calendarConstants.$cal-cell-size !important;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
  }
}
