@use "calendar-constants" as calendarConstants;

@mixin calendarGrid() {
  flex-wrap: wrap;
  width: calendarConstants.$num-weekdays * calendarConstants.$cal-cell-size;
  margin: 0 auto;
  line-height: calendarConstants.$cal-cell-size;

  // grid
  display: grid;
  grid-template-columns: repeat(calendarConstants.$num-weekdays, calendarConstants.$cal-cell-size);
  grid-auto-rows: calendarConstants.$cal-cell-size;

  // IE does not support the @supports query
  @supports (display: grid) {
    width: auto;
    margin: 0;
    line-height: initial;
    // the flex fallback needs justify-content: flex-start (default)
    justify-content: center;
  }
}

@mixin calendarGridCell() {
  // flex item fallback
  flex-basis: calendarConstants.$cal-cell-size;

  // grid
  display: flex;
  justify-content: center;
  align-items: center;
}
