@use "utils.scss" as utils;

$num-weekdays: 7;
$cal-cell-size: utils.pxToRem(42);

$first-weekday-to-weekdays: (
  sunday: (
    sunday,
    monday,
    tuesday,
    wednesday,
    thursday,
    friday,
    saturday,
  ),
  monday: (
    monday,
    tuesday,
    wednesday,
    thursday,
    friday,
    saturday,
    sunday,
  ),
);
