@mixin icc-form-field-theme() {
  icc-form-field {
    .unpadded-form-field .icc-form-field {
      padding-left: 0;
    }

    .icc-form-field-container {
      //margin-bottom: 2px;
      //padding-bottom: 2px;
      // border-bottom: 1px solid;
      // border-color: icc-theme(checkbox-hover-border-color);
      //background-color: icc-theme(icc-grid-row-hover-background-color);
    }
  }

  /*

        border-color: icc-theme(color-primary-default);

  .icc-form-field-suffix {
    border-bottom-width: 1px;
    border-color: icc-theme(form-field-input-border-color);
  }

  .icc-form-field-suffix-focus {
    background-color: icc-theme(form-field-focus-bkg-color);
    border-color: icc-theme(form-field-focus-border-color);
  }*/

  icc-error {
    // color: icc-theme(text-danger-color);
    icc-icon {
      padding-right: 0.375rem;
    }
  }
}
