@use "../../theme/src/core/functions" as icc;

@mixin icc-form-field-theme() {
  .icc-form-field-container {
    background-color: icc.icc-theme(icc-form-field-input-background-color);
    color: icc.icc-theme(app-text-basic-color);
    border-bottom: 1px solid icc.icc-theme(app-border-basic-color);

    :focus,
    :hover {
      outline: none;
      background-color: icc.icc-theme(icc-form-field-focus-background-color);
      border-color: icc.icc-theme(icc-form-field-focus-border-color);
    }

    .icc-form-field-suffix-focus {
      outline: none;
      background-color: icc.icc-theme(icc-form-field-focus-background-color);
      border-color: icc.icc-theme(icc-form-field-focus-border-color);
    }
  }

  .icc-form-field-container:has(textarea) {
    border-bottom: none;
  }

  icc-form-field {
    icc-error {
      color: orange;
      line-height: 20px;
      white-space: nowrap;
      icc-icon {
        padding: 0 0.375rem;
      }
    }
  }

  .icc-form-field-invalid {
    .icc-form-field-container {
      border-bottom: 1px solid orangered;
    }
  }

  [iccInput] {
    height: 1.75rem;
    border: none;
    background-color: transparent;
    color: icc.icc-theme(app-text-basic-color);
  }

  textarea[iccInput] {
    display: block;
    height: 3.5rem;
    border: 1px solid icc.icc-theme(app-border-basic-color);
    padding: 0.375rem;
    line-height: 0.9375rem;
  }

  /* hide input spin with type=number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  legend {
    border-bottom: 1px solid icc.icc-theme(app-border-basic-color);
  }
}
