<div class="icc-form-field">
  <div class="icc-form-field-flex">
    <label class="icc-form-field-label" #label>
      <span class="icc-form-field-required-marker" *ngIf="required">*</span>
      <ng-content select="icc-label"></ng-content>:
    </label>
    <div class="icc-form-field-wrapper" [ngStyle]="{ width: fieldWidth }">
      <div class="icc-form-field-container" [ngClass]="fieldIndicator">
        <div class="icc-form-field-infix" (mouseenter)="onMouseenter()" (mouseleave)="onMouseleave()">
          <ng-content></ng-content>
        </div>
        <div class="icc-form-field-suffix" [ngClass]="focused ? 'icc-form-field-suffix-focus' : ''">
          <ng-content select="[iccSuffix]"></ng-content>
        </div>
      </div>

      <div class="icc-form-field-error">
        <ng-content select="icc-form-field-errors"></ng-content>
      </div>
      <div class="icc-form-field-hint">
        <ng-content select="icc-hint"></ng-content>
      </div>
    </div>
  </div>
</div>
