<div class="icc-form-field">
  <div class="icc-form-field-flex">
    <label class="icc-form-field-label" #label>
      <span class="icc-form-field-required-marker" *ngIf="_control && _control.required && !_control.disabled">*</span>
      <ng-content select="icc-label"></ng-content>:
    </label>
    <div
      class="icc-form-field-wrapper"
      [ngStyle]="{ width: fieldWidth }"
      (click)="_control && _control.onContainerClick($event)"
    >
      <div class="icc-form-field-container">
        <div class="icc-form-field-infix" #inputContainer>
          <ng-content></ng-content>
        </div>
        <div class="icc-form-field-suffix" [ngClass]="{ 'icc-form-field-suffix-focus': _control && _control.focused }">
          <ng-content select="[iccSuffix]"></ng-content>
        </div>
      </div>
      <div class="icc-form-field-error">
        <ng-content select="icc-form-field-errors"></ng-content>
      </div>
      <div class="icc-form-field-hint">
        <ng-content select="icc-hint"></ng-content>
      </div>
    </div>
  </div>
</div>
