<icc-layout>
  <icc-layout-header>
    <button [routerLink]="[gridUrl]">Grid</button>
    <button [routerLink]="[formUrl]">Form</button>
    <button [routerLink]="[selectUrl]">Select</button>
    <button [routerLink]="[d3Url]">D3</button>

    <button (click)="toggleTheme()">Toggle Theme</button>

    <div class="theme">
      <input
        type="range"
        [value]="rangeValue"
        min="0"
        [max]="themeService.rangeMax"
        step="1"
        (input)="onChange($event)"
      />
    </div>
  </icc-layout-header>

  <icc-layout-main>
    <router-outlet></router-outlet>
  </icc-layout-main>

  <icc-layout-footer> Footer Bar </icc-layout-footer>
</icc-layout>
