:host {
  // TODO move this to layout ???
  .icc-left-side-bar {
    width: 250px;
    max-width: 400px;
    min-width: 250px;
    padding-right: 10px;
  }

  .icc-center-view {
    display: flex;
    width: calc(100vw - 250px); //100%;
    padding-right: 10px;
  }
}
