<icc-layout>
  <icc-layout-header>
    <button [routerLink]="[gridUrl]">Grid</button>
    <button routerLink="['form']">Form</button>
    <button routerLink="['select']">Select</button>
    <button [routerLink]="[d3Url]">D3</button>
    Top Nav Bar
    <div (click)="toggleTheme()">Toggle Theme</div>
    <icc-icon [config]="{ icon: 'exclamation-circle', status: 'primary' }"></icc-icon>
  </icc-layout-header>

  <icc-layout-main>
    <router-outlet></router-outlet>
  </icc-layout-main>

  <icc-layout-footer> Footer Bar </icc-layout-footer>
</icc-layout>
