@mixin icc-grid-theme() {
  icc-grid,
  icc-tree {
    icc-grid-header,
    icc-grid-header-view {
      background-color: icc-theme(icc-grid-header-background-color);
    }

    icc-grid-footer {
      background-color: icc-theme(icc-grid-toolbar-background-color);
      border-bottom: 1px solid icc-theme(app-border-basic-color);
    }

    icc-grid-row-group {
      border-left: 1px solid icc-theme(app-border-basic-color);
      border-right: 1px solid icc-theme(app-border-basic-color);
      border-bottom: 1px solid icc-theme(app-border-basic-color);
    }

    .icc-grid-row:nth-child(odd) {
      background-color: icc-theme(icc-grid-row-odd-background-color);
      &:focus,
      &:hover {
        background-color: icc-theme(icc-grid-row-hover-background-color);
      }
    }

    .icc-grid-row:nth-child(even) {
      background-color: icc-theme(icc-grid-row-even-background-color);
      &:focus,
      &:hover {
        background-color: icc-theme(icc-grid-row-hover-background-color);
      }
    }

    icc-grid-header-item {
      border-style: solid;
      border-color: icc-theme(app-border-basic-color);
      border-width: 1px 0px 1px 1px;
    }

    icc-grid-header-item:last-child {
      border-right: solid 1px icc-theme(app-border-basic-color);
    }

    .icc-header-no-filter-border {
      display: flex;
      width: 100%;
      border-top: 1px solid icc-theme(app-border-basic-color);
    }

    icc-text-filter,
    icc-select-filter {
      border-top: 1px solid icc-theme(app-border-basic-color);
    }

    icc-grid-cell {
      border-style: solid;
      border-color: icc-theme(app-border-basic-color);
      border-width: 0px 0px 1px 1px;
    }

    icc-grid-cell:last-child {
      border-right: solid 1px icc-theme(app-border-basic-color);
    }

    icc-grid-header {
      .drag-placeholder {
        background-color: red;
        border: 1.5px dashed orange;
        z-index: 4;
      }
    }

    input {
      background-color: icc-theme(icc-grid-header-background-color);
      color: icc-theme(app-text-basic-color);
    }

    .grid-cell {
      align-items: center;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
    .grid-cell-align-center {
      justify-content: center;
    }

    .grid-cell-align-right {
      justify-content: right;
    }

    .icc-grid-column-resize-action {
      width: 10px;
      height: 60px;
      position: absolute;
      right: -5px;
      z-index: 3;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 20px;
        width: 1px;
        margin: auto;
      }

      &:hover,
      &:active {
        cursor: ew-resize;
      }
    }
  }

  // preview must be outside
  .cdk-drag {
    cursor: move;

    &-preview {
      background-color: orange;
      border: 1.5px dashed cyan;
      overflow: hidden;
    }

    &-disabled {
      cursor: default;
    }
  }
}
