<icc-layout *ngIf="gridConfig$ | async as gridConfig">
  <ng-container *ngIf="gridSetting$ | async as gridSetting">
    <ng-container *ngIf="columnsConfig$ | async as columns">
      <icc-layout-header
        *ngIf="!gridConfig.hideTopbar"
        [buttons]="getButtons(gridSetting)"
        (iccButtonClick)="buttonClick($event, gridConfig)"
      >
      </icc-layout-header>

      <icc-grid-view [gridConfig]="gridConfig" [gridSetting]="gridSetting" [columns]="columns"> </icc-grid-view>

      <icc-grid-footer [gridConfig]="gridConfig" *ngIf="!gridConfig.hideGridFooter"> </icc-grid-footer>
    </ng-container>
  </ng-container>
</icc-layout>
