<icc-layout *ngIf="gridConfig$ | async as gridConfig">
  <ng-container *ngIf="columnsConfig$ | async as columns">
    <icc-layout-header
      *ngIf="!gridConfig.hideTopbar"
      [buttons]="buttons"
      (iccButtonClick)="buttonClick($event, gridConfig)"
    >
    </icc-layout-header>

    <icc-grid-view [gridConfig]="gridConfig" [columns]="columns"> </icc-grid-view>

    <icc-layout-footer>
      <icc-grid-footer [gridConfig]="gridConfig" *ngIf="!gridConfig.hideGridFooter"> </icc-grid-footer>
    </icc-layout-footer>
  </ng-container>
</icc-layout>
