@mixin icc-option-theme() {
  icc-option {
    background-color: icc-theme(icc-option-item-background-color);
    color: icc-theme(app-text-basic-color);
    border-top: 1px solid icc-theme(app-border-basic-color);

    &.selected {
      background-color: green;
      color: icc-theme(icc-option-item-selected-text-color);
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      background-color: cyan; //icc-theme(icc-option-item-hover-background-color);
    }
  }
}
