@use "../../theme/src/icc";

@mixin icc-option-theme() {
  icc-option {
    background-color: icc.icc-theme(icc-option-item-background-color);
    color: icc.icc-theme(app-text-basic-color);
    border-top: 1px solid icc.icc-theme(app-border-basic-color);

    &.selected {
      background-color: icc.icc-theme(icc-option-item-selected-background-color);
      font-weight: bold;
      color: orangered;
    }

    &:hover {
      cursor: pointer;
      background-color: icc.icc-theme(icc-option-item-hover-background-color);
    }

    &:last-child {
      border-bottom: solid 1px icc.icc-theme(app-border-basic-color);
    }
  }

  .icc-select-field-option:nth-child(odd) {
    background-color: icc.icc-theme(icc-grid-row-odd-background-color);
    &:focus,
    &:hover {
      background-color: icc.icc-theme(icc-grid-row-hover-background-color);
    }
  }

  .icc-select-field-option:nth-child(even) {
    background-color: icc.icc-theme(icc-grid-row-even-background-color);
    &:focus,
    &:hover {
      background-color: icc.icc-theme(icc-grid-row-hover-background-color);
    }
  }
}
