<icc-grid-header-view
  [gridConfig]="gridConfig"
  [columns]="columns"
  [columnHeaderPosition]="columnHeaderPosition"
  (gridTemplateColumnsEvent)="gridTemplateColumnsEvent($event)"
>
</icc-grid-header-view>

<cdk-virtual-scroll-viewport
  [itemSize]="gridConfig.rowHeight"
  [ngStyle]="{
    'overflow-x': gridConfig.horizontalScroll ? 'auto' : 'hidden',
    'overflow-y': gridConfig.virtualScroll || gridConfig.verticalScroll ? 'auto' : 'hidden',
  }"
  (scrolledIndexChange)="onScrolledIndexChange($event)"
  (scroll)="onViewportScroll($event)"
>
  <ng-container *ngIf="gridData$ | async as gridData">
    <icc-grid-row
      [ngStyle]="{ 'grid-template-columns': gridTemplateColumns }"
      *cdkVirtualFor="let record of gridData; trackBy: trackByIndex; let index = index"
      [gridConfig]="gridConfig"
      [columns]="columns"
      [record]="record"
    >
    </icc-grid-row>
  </ng-container>
</cdk-virtual-scroll-viewport>
