:host {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;

  .grid-header-container {
    //display: grid;
    // width: 32px;
  }
  cdk-virtual-scroll-viewport {
    flex: 1;
  }
}
