<!--ngrx-grid-display-->
<ng-container *ngIf="gridConfig$ | async as gridConfig">
  <ng-container *ngIf="columnConfig$ | async as columns">
    <icc-grid-header
      [columnConfig]="columns"
      (filterGrid)="filterGrid.emit($event)"
      (sortGrid)="sortGrid.emit($event)"
      (cdkDropListDropped)="onDrop($event)"
      (columnResizing)="onColumnResizing($event)"
      (columnResized)="columnResized.emit($event)"
      cdkDropListOrientation="horizontal"
      cdkDropList>

      <icc-grid-header-item>
        <icc-row-select
          [isSelected]="allSelected"
          (selected)="onToggleSelectAllRowsOnCurrentPage()"
        >
        </icc-row-select>
      </icc-grid-header-item>
    </icc-grid-header>

    <icc-grid-viewport *ngIf="gridData$ | async as gridData"
      [gridConfig]="gridConfig"
      [columns]="columns"
      [gridData]="gridData"
    >
    </icc-grid-viewport>
  </ng-container>
</ng-container>
