<icc-grid-header [ngStyle]="{ 'overflow-y': gridConfig.hasScrollY ? 'auto' : 'hidden', left: columnHeaderPosition + 'px' }"
  [gridConfig]="gridConfig"
  [columns]="columns"
  [columnWidths]="columnWidths"
  (cdkDropListDropped)="onColumnDragDrop($event)"
  (columnResizing)="onColumnResizing($event)"
  (columnResized)="onColumnResized($event)"
  cdkDropListOrientation="horizontal"
  cdkDropList>
</icc-grid-header>

<cdk-virtual-scroll-viewport
  itemSize="24"
  (scroll)="onViewportScroll($event)">
  <ng-container *ngIf="gridData$ | async as gridData">
    <icc-grid-row *cdkVirtualFor="let record of gridData; trackBy: trackByIndex; let index = index;"
      [gridConfig]="gridConfig"
      [columns]="columns"
      [columnWidths]="columnWidths"
      [record]="record">
    </icc-grid-row>
  </ng-container>
</cdk-virtual-scroll-viewport>
