@use "../../theme/src/icc";

@mixin icc-menu-theme() {
  icc-menus,
  cdk-menus {
    .icc-menu-row:nth-child(odd) {
      background-color: icc.icc-theme(icc-grid-row-odd-background-color);
    }

    .icc-menu-row:nth-child(even) {
      background-color: icc.icc-theme(icc-grid-row-even-background-color);
    }
  }

  icc-menu-item {
    align-items: center;
    color: icc.icc-theme(app-text-basic-color);

    &:focus,
    &:hover {
      background-color: icc.icc-theme(icc-menu-item-hover-background-color);
    }

    &.selected {
      background-color: icc.icc-theme(icc-menu-item-selected-background-color);
      font-weight: bold;
    }

    &:last-child {
      border-bottom: solid 1px icc.icc-theme(app-border-basic-color);
    }
  }
}
