:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  ::ng-deep {
    .icc-form-field {
      padding-left: 0px !important;
    }

    .icc-form-field-wrapper .icc-form-field-container {
      background-color: unset;
      padding-right: 0px;
    }
  }
}

.icc-menus-sub-level {
  width: 100%;
}
