<ng-container *ngFor="let item of items">
  <icc-menu-item *ngIf="isLeafMenu(item)" [menuItem]="item" (click)="itemClicked($event, item)"> </icc-menu-item>

  <span
    *ngIf="hasChildItem(item) && level === 0"
    [iccPopover]="menu"
    [iccPopoverTrigger]="menuTrigger"
    [popoverLevel]="level + 1"
    [iccPopoverPosition]="bottom"
  >
    <icc-icon *ngIf="item.icon" [config]="item.icon"></icc-icon>
    <span class="icc-menu-item-title"> {{ item.title }}</span>
  </span>

  <icc-menu-item
    *ngIf="hasChildItem(item) && level > 0"
    [menuItem]="item"
    [iccPopover]="menu"
    [iccPopoverTrigger]="popoverTrigger"
    [popoverLevel]="level + 1"
    [iccPopoverPosition]="rightBottom"
  >
  </icc-menu-item>

  <ng-template #menu>
    <icc-menus
      class="icc-menus-sub-level"
      [items]="item.children!"
      [level]="level + 1"
      (click)="itemClicked($event, item)"
    >
    </icc-menus>
  </ng-template>
</ng-container>
