<div>
  <icc-checkbox
    [checked]="isSelected"
    (change)="select()"
  ></icc-checkbox>

  <!--
<icc-checkbox>Checked</icc-checkbox>
    <ng-container *ngIf="isCheckbox()">
    <input type="checkbox"
           [checked]="isSelected"
           (change)="selected.emit()"
           [id]="inputId"
           class="data-grid-input"/>
    <label class="data-grid-label" [for]="inputId"></label>
  </ng-container>
  <input *ngIf="isRadio()"
         type="radio"
         name="radioSelection"
         [id]="inputId"
         [checked]="isSelected"
         (change)="select()"/>
           -->
</div>
