$theme: (
  color-primary-100: #f2f6ff,
  color-basic-100: #0f0f0f,
  color-basic-200: #191919,
  color-basic-300: #191919,

  // Status colors
  color-basic-default: #4b4f54,
  color-basic-transparent-active: #191919,
  color-basic-transparent-hover: #282828,
  color-basic-transparent-default: #f6f1ed,
  color-basic-transparent-default-border: #d0c6bc,
  color-primary-default: #f18a20,
  color-warning-default: #eba500,
  color-danger-default: #ff4f4f,
  color-success-default: #00b188,
  color-alternative-active: #ffffff,

  // Backgrounds and borders
  background-basic-color-1: color-basic-100,
  background-basic-color-2: color-basic-200,
  background-basic-color-3: color-basic-300,
  border-basic-color-1: #4b4f54,
  border-basic-color-2: #0f0f0f,
  background-alternative-1: #4b4f54,
  background-alternative-2: #000000,
  background-alternative-3: #353535,

  calendar-panel-background-color: background-basic-color-2,
  calendar-weekdays-text-color: #757575,

  calendar-month-day-text-color: #adadad,
  calendar-month-today-border-color: #adadad,
  calendar-month-day-selected-text-color: color-basic-default,
  calendar-month-day-selected-background-color: #f18a20,
  calendar-month-day-hover-text-color: #adadad,
  calendar-month-day-hover-background-color: #4b4f54,

  calendar-month-header-background-color: #4b4f54,
  calendar-month-header-text-color: #adadad,

  crumbs-ellipsis-text-color: color-basic-100,
  crumbs-ellipsis-background-color: #797979,
  dropdown-background-color: #000,
  dropdown-border: #353535,
  dropdown-shadow-color: #353535,
  dropdown-submenu-border: #353535,
  dropdown-submenu-toggle-border: #353535,
  dropdown-header-tab-hover: #797979,
  dropdown-text-color: #cfcfcf,
  dropdown-submenu-background: #353535,
  dropdown-submenu-hover: #000,

  background-alternative-green: #dff0d8,
  background-alternative-red: #f2dede,
  background-alternative-yellow: #fcf8e3,
  border-alternative-green: #d6e9c6,
  border-alternative-red: #ebccd1,
  border-alternative-yellow: #faebcc,

  base-button-bkg-color: #4b4f54,
  base-button-border-color: transparent,

  form-field-input-border-color: #353535,
  form-field-input-bkg-color: #191919,
  form-field-focus-border-color: #4b4f54,
  form-field-focus-bkg-color: #353535,

  radio-background-color: #353535,

  tooltip-border-color: #797979,
  tooltip-background-color: #353535,
  tooltip-background-gradient: #353535,
  tooltip-color: #cfcfcf,

  nvd3-nv-axis-tick-line-color: #4a4a4a,
  progress-bar-background-color: #f1f1f1,
  progress-bar-count-text-color: #ffffff,
  progress-bar-fill-color: #f18a20,
  sidebar-border-color: transparent,
  slide-toggle-bar-background-color: #dedede,
  slide-toggle-bar-checked-background-color: #00b188,
  slide-toggle-thumb-background-color: #ffffff,

  statistic-card-background-color: #191919,
  statistic-card-border-color: #353535,
  statistic-card-text-color: #ffffff,
  statistic-card-item-label-color: #cfcfcf,
  statistic-card-item-border-color: #4b4f54,

  stepper-step-header-background-color: #adadad,
  stepper-step-header-completed-background-color: #00b188,
  stepper-step-header-selected-background-color: color-primary-default,
  stepper-step-header-inner-background-color: #f1f1f1,
  stepper-step-header-completed-inner-background-color: transparent,
  stepper-step-header-selected-inner-background-color: #ffffff,
  stepper-step-horizontal-line-border-color: #adadad,
  stepper-step-horizontal-line-completed-border-color: #00b188,
  stepper-step-header-label-color: #797979,
  stepper-step-header-label-disabled-color: #adadad,
  stepper-step-header-label-hover-color: #353535,
  stepper-step-header-label-selected-color: #4b4f54,

  tab-border-color: #4b4f54,
  tab-active-border-color: transparent,

  // Table Colors
  table-border-color: #353535,
  table-header-background-color: #191919,
  table-row-background-color: #282828,
  table-row-even-background-color: #282828,
  table-row-odd-background-color: #191919,
  table-row-hover-background-color: rgba(241, 138, 32, 0.2),
  table-row-selected-background-color: #555555,
  table-header-text-color: #797979,
  table-row-text-color: #ffffff,
  table-label-text-color: #797979,

  // Text colors
  text-basic-color: #adadad,
  text-alternative-color-1: #cfcfcf,
  text-alternative-color-2: #ffffff,
  text-alternative-color-3: #797979,
  text-alternative-color-4: #ffffff,
  text-primary-color: color-primary-default,
  text-secondary-color: #797979,
  text-alternative-color-green: #3c763d,
  text-alternative-color-red: #a94442,
  text-alternative-color-yellow: #8a6d3b,

  toast-close-icon-color: #adadad,
  toast-default-color: color-primary-default,
  toast-success-color: #00b188,
  toast-warning-color: #e1e61e,
  toast-error-color: color-danger-default,

  // tree colors
  tree-node-drag-preview-background-color: #f1f1f1,
  tree-node-drag-text-color: #353535,

  // Option colors
  option-hover-background-color: #000000,
  option-selected-text-color: #ffffff,

  // Banner Colors
  banner-text-color: text-basic-color,
  banner-background-color: background-alternative-3,

  // chart colors
  bullet-chart-nv-range-min-color: #6ac48f,
  bullet-chart-nv-range-avg-color: #ffd600,
  bullet-chart-nv-range-max-color: #eb5757,
  bullet-chart-nv-measure-color: #2f80ed,
  bullet-chart-nv-title-color: #ffffff,
  bullet-chart-nv-subtitle-color: #797979,
  bullet-chart-placeholder-nv-range-min-color: #999,
  bullet-chart-placeholder-nv-range-avg-color: #666,
  bullet-chart-placeholder-nv-range-max-color: #333,

  // Checkboxes
  checkbox-border-color: #4b4f54,
  checkbox-hover-border-color: #adadad,
  checkbox-disabled-border-color: #353535,
  checkbox-background-color: #353535,
  checkbox-disabled-background-color: #191919,
  checkbox-checkmark-color: transparent,
  checkbox-checked-checkmark-color: color-primary-default,
  checkbox-disabled-checkmark-color: #353535,

  // Checkmark (Table checks)
  checkmark-color: text-alternative-color-3,
  checkmark-checked-color: color-primary-default,
  checkmark-background-color: transparent,
  checkmark-checked-background-color: transparent,

  // Actions Toolbar Colors
  actions-toolbar-background-color: #353535,
  actions-toolbar-border-color: #4b4f54,

  // Extra variables
  shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
  divider-color: #adadad,
  outline-color: #adadad,
  underline-color: #ffffff,

  // Grid View Colors
  grid-view-border-color: #454545,

  // List Views color
  list-views-button-color: #4b4f54,
  list-views-button-hover-color: #191919,
  list-views-button-border-color: #4b4f54,
  list-views-button-border-hover-color: #797979,
  list-views-background-color: #353535,
  list-of-view-background-color: #353535,
  list-views-heading-color: #353535,
  list-views-border-right-color: #555,
  list-views-search-background-hover-color: #191919,
  list-views-text-color: #337ab7,

  // Leaflet Map View
  leaflet-map-filter: invert(100%) hue-rotate(180deg) brightness(150%) contrast(80%),
  // Panel Colors
  icc-panel-border-color: #353535,
);

$icc-themes: icc-register-theme($theme, custom);
