$theme: (
  --app-background-color: hsl(0, 0%, 0%),
  app-border-basic-color: #4b4f54,
  app-text-basic-color: #adadad,

  //grid
  icc-grid-header-background-color: #242424,
  icc-grid-row-odd-background-color: #1f1f1f,
  icc-grid-row-even-background-color: #282828,
  icc-grid-row-hover-background-color: #353535,
  icc-grid-toolbar-background-color: #404040,

  //menu
  icc-menu-item-background-color: #1c1c1e,
  icc-menu-item-hover-background-color: #2c2c2e,
  icc-menu-item-selected-background-color: #3a3a3c,

  //accordion
  icc-accordion-item-background-color: #404040,
  icc-accordion-item-hover-background-color: #2c2c2e,
  icc-accordion-item-expanded-background-color: #0064de,

  //option
  icc-option-item-background-color: #191919,
  icc-option-item-hover-background-color: #353535,
  icc-option-item-selected-background-color: #3a3a3c,

  //form field
  icc-form-field-input-background-color: #242424,
  icc-form-field-focus-background-color: #191919,
  icc-form-field-focus-border-color: green,

  //checkbox
  checkbox-border-color: #4b4f54,
  checkbox-hover-border-color: #adadad,
  checkbox-disabled-border-color: #353535,
  checkbox-background-color: #353535,
  checkbox-disabled-background-color: #191919,
  checkbox-checkmark-color: transparent,
  checkbox-checked-checkmark-color: #f18a20,
  checkbox-disabled-checkmark-color: #353535,
  //checkmark
  checkmark-color: #797979,
  checkmark-checked-color: #f18a20,
  checkmark-background-color: transparent,
  checkmark-checked-background-color: transparent,
);

$icc-themes: icc-register-theme($theme, dark);
