$icc-mapping: (

  checkbox-border-color: checkbox-border-color,
  checkbox-hover-border-color: checkbox-hover-border-color,
  checkbox-disabled-border-color: checkbox-disabled-border-color,
  checkbox-background-color: checkbox-background-color,
  checkbox-disabled-background-color: checkbox-disabled-background-color,
  checkbox-checkmark-color: checkbox-checkmark-color,
  checkbox-checked-checkmark-color: checkbox-checked-checkmark-color,
  checkbox-disabled-checkmark-color: checkbox-disabled-checkmark-color,

);
