$icc-mapping: (
  checkbox-border-color: checkbox-border-color,
  checkbox-hover-border-color: checkbox-hover-border-color,
  checkbox-disabled-border-color: checkbox-disabled-border-color,
  checkbox-background-color: checkbox-background-color,
  checkbox-disabled-background-color: checkbox-disabled-background-color,
  checkbox-checkmark-color: checkbox-checkmark-color,
  checkbox-checked-checkmark-color: checkbox-checked-checkmark-color,
  checkbox-disabled-checkmark-color: checkbox-disabled-checkmark-color,

  checkmark-color: checkmark-color,
  checkmark-checked-color: checkmark-checked-color,
  checkmark-background-color: checkmark-background-color,
  checkmark-checked-background-color: checkmark-checked-background-color,

  form-field-input-border-color: form-field-input-border-color,
  form-field-input-bkg-color: form-field-input-bkg-color,
  form-field-focus-border-color: form-field-focus-border-color,
  form-field-focus-bkg-color: form-field-focus-bkg-color,

  icon-default-color: color-basic-default,
  icon-primary-color: color-primary-default,
  icon-warning-color: color-warning-default,
  icon-danger-color: color-danger-default,
  icon-success-color: color-success-default,

  input-focus-background-color: background-basic-color-3,
  input-border-color: border-basic-color-1,

  layout-background-color: background-basic-color-1,

  select-background-color: form-field-input-bkg-color,
  select-hover-background-color: color-basic-transparent-hover,
  select-border-color: border-basic-color-1,
  select-text-color: text-alternative-color-1,
  select-options-background-color: background-basic-color-2,
);
