$icc-mapping: (
  banner-height: 2.75rem,
  banner-line-height: 1rem,
  banner-text-color: banner-text-color,
  banner-background-color: banner-background-color,
  bullet-chart-nv-range-min-color: bullet-chart-nv-range-min-color,
  bullet-chart-nv-range-avg-color: bullet-chart-nv-range-avg-color,
  bullet-chart-nv-range-max-color: bullet-chart-nv-range-max-color,
  bullet-chart-nv-measure-color: bullet-chart-nv-measure-color,
  bullet-chart-nv-subtitle-color: bullet-chart-nv-subtitle-color,
  bullet-chart-nv-title-color: bullet-chart-nv-title-color,
  bullet-chart-placeholder-nv-range-min-color: bullet-chart-placeholder-nv-range-min-color,
  bullet-chart-placeholder-nv-range-avg-color: bullet-chart-placeholder-nv-range-avg-color,
  bullet-chart-placeholder-nv-range-max-color: bullet-chart-placeholder-nv-range-max-color,
  button-default-color: base-button-bkg-color,
  button-primary-color: color-primary-default,
  button-danger-color: color-danger-default,

  checkbox-border-color: checkbox-border-color,
  checkbox-hover-border-color: checkbox-hover-border-color,
  checkbox-disabled-border-color: checkbox-disabled-border-color,
  checkbox-background-color: checkbox-background-color,
  checkbox-disabled-background-color: checkbox-disabled-background-color,
  checkbox-checkmark-color: checkbox-checkmark-color,
  checkbox-checked-checkmark-color: checkbox-checked-checkmark-color,
  checkbox-disabled-checkmark-color: checkbox-disabled-checkmark-color,

  checkmark-color: checkmark-color,
  checkmark-checked-color: checkmark-checked-color,
  checkmark-background-color: checkmark-background-color,
  checkmark-checked-background-color: checkmark-checked-background-color,

  crumbs-text-color: text-basic-color,
  crumbs-icon-color: text-basic-color,
  crumbs-last-crumb-color: color-alternative-active,
  crumbs-ellipsis-text-color: crumbs-ellipsis-text-color,
  crumbs-ellipsis-background-color: crumbs-ellipsis-background-color,
  dynamic-form-legend-text-color: text-alternative-color-2,
  footer-height: 2rem,
  form-field-input-border-color: form-field-input-border-color,
  form-field-input-bkg-color: form-field-input-bkg-color,
  form-field-focus-border-color: form-field-focus-border-color,
  form-field-focus-bkg-color: form-field-focus-bkg-color,
  grid-header-row-border-color: border-basic-color-1,
  grid-view-border-color: grid-view-border-color,
  header-height: 2.75rem,
  icon-default-color: color-basic-default,
  icon-primary-color: color-primary-default,
  icon-warning-color: color-warning-default,
  icon-danger-color: color-danger-default,
  icon-success-color: color-success-default,
  input-focus-background-color: background-basic-color-3,
  input-border-color: border-basic-color-1,
  layout-background-color: background-basic-color-1,
  menu-item-hover-background-color: color-basic-transparent-hover,
  menu-separator-color: divider-color,
  navbar-default-height: 44px,
  page-header-text-color: text-alternative-color-2,
  page-header-secondary-text-color: text-secondary-color,
  icc-panel-border-color: icc-panel-border-color,
  panel-content-text-color: text-basic-color,
  popover-background-color: background-alternative-3,
  popover-text-color: text-basic-color,
  progress-bar-background-color: progress-bar-background-color,
  progress-bar-count-text-color: progress-bar-count-text-color,
  progress-bar-count-text-font-size: 10px,
  progress-bar-fill-color: progress-bar-fill-color,
  progress-bar-height: 18px,
  progress-bar-piece-animation-duration: 250ms,
  radio-background-color: radio-background-color,
  radio-border-color: outline-color,
  radio-checked-background-color: color-basic-transparent-default,
  radio-checked-border-color: color-basic-transparent-default-border,
  radio-inner-circle-color: color-primary-default,
  radio-text-color: text-basic-color,
  select-background-color: form-field-input-bkg-color,
  select-hover-background-color: color-basic-transparent-hover,
  select-border-color: border-basic-color-1,
  select-text-color: text-alternative-color-1,
  select-options-background-color: background-basic-color-2,
  sidebar-background-color: background-alternative-3,
  sidebar-border-color: sidebar-border-color,
  sidebar-menu-item-active-color: color-alternative-active,
  sidebar-menu-item-active-background-color: color-basic-transparent-active,
  sidebar-text-color: text-basic-color,
  sidebar-height: 100vh,
  sidebar-default-width: 13rem,
  sidebar-resize-drag-width: 5px,
  slide-toggle-bar-background-color: slide-toggle-bar-background-color,
  slide-toggle-bar-checked-background-color: slide-toggle-bar-checked-background-color,
  slide-toggle-thumb-background-color: slide-toggle-thumb-background-color,
  spinner-filled-color: color-primary-default,
  spinner-empty-color: transparent,
  stepper-step-header-hover-background-color: color-basic-transparent-hover,
  stepper-step-header-background-color: stepper-step-header-background-color,
  stepper-step-header-completed-background-color: stepper-step-header-completed-background-color,
  stepper-step-header-selected-background-color: stepper-step-header-selected-background-color,
  stepper-step-header-inner-background-color: stepper-step-header-inner-background-color,
  stepper-step-header-completed-inner-background-color: stepper-step-header-completed-inner-background-color,
  stepper-step-header-selected-inner-background-color: stepper-step-header-selected-inner-background-color,
  stepper-step-horizontal-line-border-color: stepper-step-horizontal-line-border-color,
  stepper-step-horizontal-line-completed-border-color: stepper-step-horizontal-line-completed-border-color,
  stepper-step-header-label-color: stepper-step-header-label-color,
  stepper-step-header-label-hover-color: stepper-step-header-label-hover-color,
  stepper-step-header-label-selected-color: stepper-step-header-label-selected-color,
  tab-active-text-color: text-alternative-color-4,
  tab-active-underline-color: underline-color,
  text-danger-color: color-danger-default,
  notification-default-background-color: #ebf9fc,
  notification-default-border-color: #98c6cd,
  notification-primary-background-color: #fce7d2,
  notification-primary-border-color: color-primary-default,
  notification-warning-background-color: #fcf3b1,
  notification-warning-border-color: color-warning-default,
  notification-danger-background-color: #fff4f4,
  notification-danger-border-color: color-danger-default,
  notification-success-background-color: #f1f8f5,
  notification-success-border-color: color-success-default,
  text-area-background-color: form-field-input-bkg-color,
  toast-text-color: text-basic-color,
  toast-background-color: background-basic-color-3,
  toast-close-icon-color: #adadad,
  toast-default-border-color: toast-default-color,
  toast-default-icon-color: toast-default-color,
  toast-success-border-color: toast-success-color,
  toast-success-icon-color: toast-success-color,
  toast-warning-border-color: toast-warning-color,
  toast-warning-icon-color: toast-warning-color,
  toast-error-border-color: toast-error-color,
  toast-error-icon-color: toast-error-color,
  toolbar-background-color: actions-toolbar-background-color,
  tabbed-view-row-background-color: tab-bar-background-color,
  tabbed-view-tab-background-color: background-basic-color-1,
  tabbed-view-tab-border-color: tab-border-color,
  tabbed-view-tab-active-border-color: tab-active-border-color,
  tabbed-view-tab-height: 30px,
  tabbed-view-tab-text-color: text-basic-color,
  titlebar-default-height: 50px,
  titlebar-title-default-width: calc(13rem - 1px),
  titlebar-title-font-size: 0.875rem,
  titlebar-title-font-weight: 700,
  titlebar-title-transform: none,
  tree-node-drag-preview-background-color: tree-node-drag-preview-background-color,
  tree-node-drag-text-color: tree-node-drag-text-color,
  tree-node-dropable-position-color: color-primary-default,
  tree-node-name-background-color: color-basic-transparent-hover,
  tree-node-name-input-border-color: border-basic-color-1,
);
