:host {
  display: flex;
  width: 100%;

  align-items: center;

  icc-text-field {
    width: 100%;

    ::ng-deep .icc-form-field {
      padding: 0px;
      line-height: 20px;
    }
    ::ng-deep .icc-form-field-suffix {
      height: 20px;
    }
    ::ng-deep .icc-form-field-container {
      border-bottom: none;
      padding-right: 0px;
    }
    ::ng-deep input {
      width: 100%;
    }
  }
}
