:host {
  display: flex;
  height: -webkit-fill-available;
  flex-direction: column;

  cdk-virtual-scroll-viewport {
    flex: 1;
  }
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
 // min-width: 2000px !important;
  //width: 2000px !important;
}
