// this is theme test
@mixin icc-about-theme() {
  .icc-about-color{
    color: cyan;
    background-color: black;
  }
}

/*

  icc-about {
    .icc-about-color{
      color: cyan;
      background-color: black;
    }
  }
@mixin test-component-theme($theme) {
  $primary: map-get($theme, primary);
  .test {
    background: mat-color($primary);
  }
  .test1 {
    background: orange;
  }
}
*/
