:host {
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 1px;
  font-size: 12px;

  &:hover,
  &:focus {
    text-decoration: none;
    font-weight: bold;
    //border: 1px solid orangered;
  }

  &[disabled] {
    cursor: auto;
    opacity: 0.5;
  }

  //padding: 0 10px;
  border: 1px solid transparent;

  &.status-default {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

    &[disabled]:hover {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    }

    &:hover {
      box-shadow: none;
      display: inline-flex;
    }
  }

  &.appearance-ghost {
    box-shadow: none;
    background-color: transparent;
    padding: 0;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }
}
