@mixin icc-menu-item-theme() {
  /*
  .icc-menu-item.menu-item-separator {
    border-color: icc-theme(menu-separator-color);
  }*/

  .icc-menu-toggle-link icc-icon.expand-state {
    display: none;
  }

  ul.icc-menu-items {
    ul.icc-menu-items {
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
    }
  }
}
