<a
  *ngIf="menuItem.url && !menuItem.children"
  [attr.href]="menuItem.url"
  [attr.target]="menuItem.target"
  [class.active]="menuItem.selected"
  (click)="onItemSelected(menuItem)"
  (click)="itemClicked($event, menuItem)">
  <icc-icon class="icc-menu-icon" [config]="menuItem.icon" *ngIf="menuItem.icon"></icc-icon>
  <span class="icc-menu-title">
    <ng-container *ngIf="!menuItemTpl">
      {{ menuItem.title }}
    </ng-container>
    <ng-container *ngTemplateOutlet="menuItemTpl; context: { $implicit: menuItem }"></ng-container>
  </span>
</a>
