<a *ngIf="menuItem.link && !menuItem.children"
  [routerLink]="menuItem.link"
  [queryParams]="menuItem.queryParams"
  [routerLinkActiveOptions]="menuItem.routerOptions || {}"
  routerLinkActive="active"
  (click)="itemClicked($event, menuItem)">
  <icc-icon class="icc-menu-icon" [config]="menuItem.icon" *ngIf="menuItem.icon"></icc-icon>
  <span class="icc-menu-title">
    <ng-container *ngIf="!menuItemTpl">
      {{ menuItem.title }}
    </ng-container>
    <ng-container *ngTemplateOutlet="menuItemTpl; context: { $implicit: menuItem }"></ng-container>
  </span>
</a>
