<div class="grid-header-container" [ngStyle]="{ flex: '0 0 ' + tableWidth + 'px' }">
  <icc-grid-group-header
    *ngIf="gridConfig.groupHeader"
    [ngStyle]="{
      left: columnHeaderPosition + 'px',
      height: gridConfig.headerHeight + 'px',
    }"
    [gridConfig]="gridConfig"
    [columns]="columns"
    [columnWidths]="columnWidths"
  >
  </icc-grid-group-header>

  <icc-grid-header
    [ngStyle]="{
      left: columnHeaderPosition + 'px',
    }"
    [gridConfig]="gridConfig"
    [columns]="columns"
    [columnWidths]="columnWidths"
    (columnResizing)="onColumnResizing($event)"
    (columnResized)="onColumnResized($event)"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="onColumnDragDrop($event)"
  >
  </icc-grid-header>
</div>
