<div class="grid-header-container" [style.flex]="'0 0 ' + tableWidth + 'px'">
  @if (gridConfig().groupHeader) {
    <icc-grid-group-header
      [style.left]="columnHeaderPosition() + 'px'"
      [style.height]="gridConfig().headerHeight + 'px'"
      [gridSetting]="gridSetting()"
      [gridConfig]="gridConfig()"
      [columns]="columns()"
      [columnWidths]="columnWidths()"
      (columnResizing)="onColumnResizing($event)"
      (columnResized)="onColumnResized($event)"
    >
    </icc-grid-group-header>
  }

  <icc-grid-header
    [style.left]="columnHeaderPosition() + 'px'"
    [gridSetting]="gridSetting()"
    [gridConfig]="gridConfig()"
    [columns]="columns()"
    [columnWidths]="columnWidths()"
    (columnResizing)="onColumnResizing($event)"
    (columnResized)="onColumnResized($event)"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="onColumnDragDrop($event)"
  >
  </icc-grid-header>
</div>
