<div class="grid-header-container" [ngStyle]="{ width: gridConfig.viewportWidth + 'px' }">
  <icc-grid-header
    [ngStyle]="{
      width: tableWidth + 'px',
      'grid-template-columns': gridTemplateColumns,
      left: columnHeaderPosition + 'px',
    }"
    [gridConfig]="gridConfig"
    [columns]="columns"
    (columnResizing)="onColumnResizing($event)"
    (columnResized)="onColumnResized($event)"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="onColumnDragDrop($event)"
  >
  </icc-grid-header>
</div>
