icc-d3-view {
  display: flex;
  flex: 1;

  svg {
    flex: 1;
  }

  .line {
    fill: none;
  }

  .zoom {
    fill: none;
    pointer-events: all;
  }

  .axis line {
    fill: none;
    stroke: #bfbfbf;
    shape-rendering: crispEdges;
  }

  .drawlabel,
  .guideLine {
    pointer-events: none;
  }

  .guideLine {
    fill: none;
    stroke: #bfbfbf;
    shape-rendering: crispEdges;
  }

  .bulletChartSvg .xAxisDraw .domain {
    stroke-opacity: 0;
  }
}
