:host {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;

  cdk-virtual-scroll-viewport {
    flex: 1;
  }
}

.icc-tree-drop-inside {
  background-color: orange;
  opacity: 0.4;
}

.icc-tree-drop-before {
  border-top: 5px solid #00f;
  margin-top: 5px;
}

.icc-tree-drop-after {
  border-bottom: 5px solid red;
  margin-bottom: 5px;
}
