<icc-grid-header-view
  [gridConfig]="treeConfig"
  [columns]="columns"
  [columnHeaderPosition]="columnHeaderPosition"
  (gridTemplateColumnsEvent)="gridTemplateColumnsEvent($event)"
>
</icc-grid-header-view>

<cdk-virtual-scroll-viewport
  [itemSize]="treeConfig.rowHeight"
  [ngStyle]="{
    'overflow-x': treeConfig.horizontalScroll ? 'auto' : 'hidden',
    'overflow-y': treeConfig.virtualScroll || treeConfig.verticalScroll ? 'auto' : 'hidden',
  }"
  (scrolledIndexChange)="onScrolledIndexChange($event)"
  (scroll)="onViewportScroll($event)"
>
  <ng-container *ngIf="treeData$ | async as treeData">
    <icc-tree-row
      [ngStyle]="{ 'grid-template-columns': gridTemplateColumns }"
      *cdkVirtualFor="let record of treeData; trackBy: trackByIndex; let index = index"
      [treeConfig]="treeConfig"
      [columns]="columns"
      [record]="record"
    >
    </icc-tree-row>
  </ng-container>
</cdk-virtual-scroll-viewport>
