<div class="grid-header-container" [ngStyle]="{ width: treeConfig.viewportWidth + 'px' }">
  <icc-grid-header
    [ngStyle]="{
      width: tableWidth + 'px',
      'grid-template-columns': gridTemplateColumns,
      left: columnHeaderPosition + 'px',
    }"
    [gridConfig]="treeConfig"
    [columns]="columns"
    (cdkDropListDropped)="onColumnDragDrop($event)"
    (columnResizing)="onColumnResizing($event)"
    (columnResized)="onColumnResized($event)"
    cdkDropListOrientation="horizontal"
    cdkDropList
  >
  </icc-grid-header>
</div>

<cdk-virtual-scroll-viewport
  [itemSize]="treeConfig.rowHeight"
  [ngStyle]="{
    'overflow-x': treeConfig.horizontalScroll ? 'auto' : 'hidden',
    'overflow-y': treeConfig.virtualScroll || treeConfig.verticalScroll ? 'auto' : 'hidden',
  }"
  (scrolledIndexChange)="onScrolledIndexChange($event)"
  (scroll)="onViewportScroll($event)"
>
  <ng-container *ngIf="treeData$ | async as treeData">
    <icc-flat-tree [columns]="columns" [treeData]="treeData"></icc-flat-tree>
    <!--

    <cdk-virtual-scroll-viewport itemSize="50">
      <ng-container *cdkVirtualFor="let node of flatTreeData">
        <div [style.padding-left]="node.level * 20 + 'px'">
          {{ node.name }} 
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>

    <icc-grid-row
      [ngStyle]="{ 'grid-template-columns': gridTemplateColumns }"
      *cdkVirtualFor="let record of treeData; trackBy: trackByIndex; let index = index"
      [gridConfig]="treeConfig"
      [columns]="columns"
      [record]="record"
    >
    </icc-grid-row>
        -->
  </ng-container>
</cdk-virtual-scroll-viewport>
