<icc-grid-header-view
  [gridConfig]="treeConfig"
  [columns]="columns"
  [columnHeaderPosition]="columnHeaderPosition"
  (gridColumnWidthsEvent)="gridColumnWidthsEvent($event)"
>
</icc-grid-header-view>

<cdk-virtual-scroll-viewport
  [itemSize]="treeConfig.rowHeight"
  [ngStyle]="{
    'overflow-x': treeConfig.horizontalScroll ? 'auto' : 'hidden',
    'overflow-y': treeConfig.virtualScroll || treeConfig.verticalScroll ? 'auto' : 'hidden',
  }"
  (scrolledIndexChange)="onScrolledIndexChange($event)"
  (scroll)="onViewportScroll($event)"
>
  <ng-container *ngIf="treeData$ | async as treeData">
    <div
      class="icc-grid-row"
      *cdkVirtualFor="let record of treeData; trackBy: trackByIndex; let index = index"
      cdkDropList
      [cdkDropListSortingDisabled]="true"
      (cdkDropListDropped)="drop($event)"
    >
      <icc-tree-row
        class="icc-tree-node"
        [treeConfig]="treeConfig"
        [columns]="columns"
        [columnWidths]="columnWidths"
        [record]="getRecord(record)"
        cdkDrag
        [cdkDragDisabled]="treeConfig.dragDisabled"
        (cdkDragStarted)="dragStart(record)"
        (cdkDragMoved)="dragMoved($event, treeData)"
        [cdkDragData]="record"
        [attr.tree-node-id]="record.id"
        [attr.id]="record.id"
      >
      </icc-tree-row>
    </div>
  </ng-container>
</cdk-virtual-scroll-viewport>
