<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field
    [ngStyle]="{ display: fieldConfig.hidden ? 'none' : 'inherit' }"
    [iccLabelWidth]="fieldConfig.labelWidth"
    [iccFieldWidth]="fieldConfig.fieldWidth"
  >
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel }}
    </icc-label>
    <input
      #fileInput
      iccInput
      type="file"
      class="upload-file-input"
      [formControlName]="fieldConfig.fieldName!"
      [required]="required"
      placeholder="{{ fieldConfig.placeholder }}"
    />
    <icc-icon
      *ngIf="!field.disabled"
      class="folder-open"
      icon="folder-open"
      iccSuffix
      (click)="fileInput.click()"
    ></icc-icon>
    <icc-icon *ngIf="fieldConfig.clearValue && hasValue" icon="remove" iccSuffix (click)="clearValue()"></icc-icon>

    <ng-container *ngIf="field?.errors">
      <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
    </ng-container>
  </icc-form-field>
</ng-container>
