<ng-container *ngIf="d3Config$ | async as d3Config">
  <ng-container *ngIf="chartConfigs$ | async as chartConfigs">
    <icc-d3-view [chartConfigs]="chartConfigs" [data]="data"></icc-d3-view>
  </ng-container>
</ng-container>
<!--

<ng-container *ngIf="gridConfig$ | async as gridConfig">
  <ng-container *ngIf="columnsConfig$ | async as columns">
    <div class="icc-grid-toolbar">
      <button (click)="refresh()">Refresh</button>
      <button (click)="clearFilters()">Clear All Filters</button>
    </div>
    <icc-grid-view [gridConfig]="gridConfig" [columns]="columns"> </icc-grid-view>

    <icc-grid-footer [gridConfig]="gridConfig"> </icc-grid-footer>
  </ng-container>
</ng-container>
-->
