<svg width="100%"></svg>
<icc-d3-legend
  *ngIf="legend && legend.enabled"
  [view]="view"
  [chartConfigs]="chartConfigs"
  [data]="data"
  [scale]="scale$ | async"
  [dispatch]="dispatch"
>
</icc-d3-legend>
<span [iccPopover]="d3Popover" [iccPopoverTrigger]="trigger" [iccPopoverPosition]="positopn"></span>
<!--
  [iccPopoverContext]="{ data: popoverContext }"
  style="display: none"
[ngStyle]="{ display: groupHeaderDisplay.length > 0 ? 'flex' : 'none' }"
  [ngStyle]="{ display: isPopoverOpen ? 'flex' : 'none' }"
  style="display: none"
      [sunPopoverContext]="{ record: record }"
      [sunPopoverTrigger]="popoverTrigger"

[sunPopoverContext]="{text: 'Custom message!'}"
sunPopoverTrigger="click"
<span [iccPopover2]="d3Popover" popoverType="point" style="display: none"></span>
-->
