@use "../../theme/src/icc";

@mixin icc-spinner-theme() {
  .icc-spinner-container {
    position: relative;
  }

  .spin-circle {
    border-top-color: icc.icc-theme(spinner-filled-color);
    border-right-color: icc.icc-theme(spinner-empty-color);
    border-bottom-color: icc.icc-theme(spinner-filled-color);
    border-left-color: icc.icc-theme(spinner-filled-color);
  }

  icc-spinner.size-small {
    font-size: 1rem;
  }

  icc-spinner.size-medium {
    font-size: 1.5rem;
  }

  icc-spinner.size-large {
    font-size: 2rem;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(230deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
