<div [@transformPickerOverlay]="shouldAnimate" class="icc-date-picker-calendar-container">
  <icc-calendar
    *ngIf="calendarConfig"
    [calendarConfig]="calendarConfig"
    [selectedDate]="selectedDate"
    (selectedDateChange)="updateSelectedDate($event)"
  >
  </icc-calendar>
</div>
<div class="icc-date-bottom-bar">
  <button icc-button status="primary" (click)="applyNewDates($event)">
    <span translate>{{ "ICC.UI.ACTIONS.APPLY" }}</span>
  </button>
  <button icc-button (click)="discardNewDates($event)">
    <span translate>{{ "ICC.UI.ACTIONS.CANCEL" }}</span>
  </button>
</div>
