<icc-layout [@transformPickerOverlay]="shouldAnimate">
  <icc-calendar
    *ngIf="calendarConfig"
    [calendarConfig]="calendarConfig"
    [selectedDate]="selectedDate"
    (selectedDateChange)="updateSelectedDate($event)"
  >
  </icc-calendar>

  <icc-layout-footer>
    <icc-layout-footer-start>
      <icc-select-field
        [fieldConfig]="presetSelectionConfig"
        [options]="presets"
        [showFieldEditIndicator]="false"
        (valueChange)="updateSelectDateByPreset($event)"
      ></icc-select-field>
    </icc-layout-footer-start>
    <icc-layout-footer-end>
      <button icc-button (click)="applyNewDates($event)">
        <span translate>{{ "ICC.UI.ACTIONS.APPLY" }}</span>
      </button>
      <button icc-button (click)="discardNewDates($event)">
        <span translate>{{ "ICC.UI.ACTIONS.CANCEL" }}</span>
      </button>
    </icc-layout-footer-end>
  </icc-layout-footer>
</icc-layout>
