:host {
  display: flex;
  flex-direction: column;
  width: 300px;

  ::ng-deep icc-calendar {
    height: 320px;
  }

  icc-layout-footer-start {
    width: 180px;
    ::ng-deep .icc-form-field-container {
      background-color: unset;
    }
  }
}
