<icc-layout-header [title]="formConfig.title">
  <ng-container *ngFor="let button of formConfig.buttons">
    <button icc-button *ngIf="!buttonHidden(button)" [disabled]="buttonDisabled(button)" (click)="buttonClick(button)">
      <icc-icon *ngIf="button.icon" [icon]="button.icon"></icc-icon>
      {{ getButtonTitle(button) | translate }}
    </button>
  </ng-container>
</icc-layout-header>

<form [formGroup]="form" [iccFormLabelWidth]="formConfig.labelWidth">
  <ng-container *ngFor="let fieldConfig of formFields; trackBy: trackByIndex; let index = index">
    @if (fieldConfig.fieldType === FieldType.Fieldset) {
      <icc-fieldset [form]="form" [fieldConfig]="fieldConfig"></icc-fieldset>
    } @else {
      <icc-fields [form]="form" [fieldConfig]="fieldConfig"></icc-fields>
    }
  </ng-container>
</form>
