<form [formGroup]="form" [iccFormLabelWidth]="formConfig.labelWidth">
  <ng-container *ngFor="let fieldConfig of formFields; trackBy: trackByIndex; let index = index">
    <icc-fields *ngIf="fieldConfig.fieldType !== 'fieldset'" [form]="form" [fieldConfig]="fieldConfig"> </icc-fields>
    <icc-fieldset *ngIf="fieldConfig.fieldType === 'fieldset'" [form]="form" [fieldConfig]="fieldConfig">
    </icc-fieldset>
  </ng-container>
</form>

<div (click)="checkForm()">Check Form</div>
<div (click)="resetForm()">Reset Form</div>
