<icc-panel-top-bar>
  <ng-container *ngFor="let button of formConfig.buttons">
    <button icc-button *ngIf="buttonVisible(button)" [disabled]="buttonDisabled(button)" (click)="buttonClick(button)">
      <icc-icon *ngIf="button.icon" [icon]="button.icon"></icc-icon>
      {{ button.title }}
    </button>
  </ng-container>
</icc-panel-top-bar>

<form [formGroup]="form" [iccFormLabelWidth]="formConfig.labelWidth">
  <ng-container *ngFor="let fieldConfig of formFields; trackBy: trackByIndex; let index = index">
    <icc-fields *ngIf="fieldConfig.fieldType !== 'fieldset'" [form]="form" [fieldConfig]="fieldConfig"> </icc-fields>
    <icc-fieldset *ngIf="fieldConfig.fieldType === 'fieldset'" [form]="form" [fieldConfig]="fieldConfig">
    </icc-fieldset>
  </ng-container>
</form>
