<span
  cdkDrag
  [cdkDragDisabled]="dragDisabled(tab())"
  cdkDragPreviewClass="icc-drag-tabs-preview"
  cdkDragRootElement=".icc-mdc-tab"
  [iccPopover]="menu"
  [iccPopoverTrigger]="contextMenuTrigger"
  [clickToClose]="true"
  [iccPopoverPosition]="position"
  >{{ getTabLabel(tab()) }}
</span>

@if (closeable(tab())) {
  <icc-icon class="icc-tab-remove-icon" icon="remove" (click)="closeTab($event, tab())"></icc-icon>
}

<ng-template #menu>
  <icc-menus
    [items]="contextMenu"
    [level]="1"
    [disabled]="getDisabled(tab())"
    (iccMenuItemClick)="onContextMenuClicked($event, tab())"
  >
  </icc-menus>
</ng-template>
