@if (form()) {
  <icc-form-field
    [formGroup]="form()"
    [style.display]="hidden ? 'none' : 'inherit'"
    [iccLabelWidth]="fieldConfig().labelWidth"
    [iccFieldWidth]="fieldConfig().fieldWidth"
    [iccFormFieldControl]="field"
  >
    @if (fieldConfig().fieldLabel !== undefined) {
      <icc-label>{{ fieldConfig().fieldLabel! | translate }}</icc-label>
    }
    @for (group of groups; track $index; let index = $index) {
      <icc-radio
        [value]="group.name"
        [name]="fieldConfig().fieldName!"
        [field]="field"
        [fieldName]="fieldConfig().fieldName!"
        [checked]="getChecked(group.name)"
      >
        {{ group.title }}
      </icc-radio>
    }
    @if (field && (field.touched || field.dirty) && field.errors) {
      <icc-form-field-errors><icc-field-errors [errors]="field!.errors!"></icc-field-errors></icc-form-field-errors>
    }
  </icc-form-field>
}
