<ng-container *ngIf="form" [formGroup]="form">
  <icc-form-field
    [ngStyle]="{ display: fieldConfig.hidden ? 'none' : 'inherit' }"
    [iccLabelWidth]="fieldConfig.labelWidth"
    [iccFieldWidth]="fieldConfig.fieldWidth"
  >
    <icc-label *ngIf="fieldConfig.fieldLabel !== undefined">
      {{ fieldConfig.fieldLabel }}
    </icc-label>

    <ng-container *ngFor="let group of groups; trackBy: trackByIndex; let index = index">
      <icc-radio
        [value]="group.name"
        [field]="field"
        [fieldName]="fieldConfig.fieldName!"
        [checked]="getChecked(group.name)"
      >
        {{ group.title }}
      </icc-radio>
    </ng-container>

    <ng-container *ngIf="field?.errors">
      <icc-field-errors [errors]="field!.errors!"></icc-field-errors>
    </ng-container>
  </icc-form-field>
</ng-container>
