@switch (fieldConfig().fieldType) {
  @case (FieldType.Text) {
    <icc-text-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-text-field>
  }
  @case (FieldType.Number) {
    <icc-number-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-number-field>
  }
  @case (FieldType.Checkbox) {
    <icc-checkbox-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-checkbox-field>
  }
  @case (FieldType.Date) {
    <icc-date-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-date-field>
  }
  @case (FieldType.DateRange) {
    <icc-date-range-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-date-range-field>
  }
  @case (FieldType.Display) {
    <icc-display-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-display-field>
  }
  @case (FieldType.Hidden) {
    <icc-hidden-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-hidden-field>
  }
  @case (FieldType.Password) {
    <icc-password-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-password-field>
  }
  @case (FieldType.RadioGroup) {
    <icc-radio-group-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-radio-group-field>
  }
  @case (FieldType.Select) {
    <icc-select-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-select-field>
  }
  @case (FieldType.Textarea) {
    <icc-textarea-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-textarea-field>
  }
  @case (FieldType.UploadFile) {
    <icc-upload-file-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-upload-file-field>
  }
  @default {
    <icc-text-field [form]="form()" [fieldConfig]="fieldConfig()"></icc-text-field>
  }
}
