@switch (fieldConfig.fieldType) {
  @case (FieldType.Text) {
    <icc-text-field [fieldConfig]="fieldConfig" [form]="form"></icc-text-field>
  }
  @case (FieldType.Number) {
    <icc-number-field [fieldConfig]="fieldConfig" [form]="form"></icc-number-field>
  }
  @case (FieldType.Checkbox) {
    <icc-checkbox-field [fieldConfig]="fieldConfig" [form]="form"></icc-checkbox-field>
  }
  @case (FieldType.Date) {
    <icc-date-field [fieldConfig]="fieldConfig" [form]="form"></icc-date-field>
  }
  @case (FieldType.DateRange) {
    <icc-date-range-field [fieldConfig]="fieldConfig" [form]="form"></icc-date-range-field>
  }
  @case (FieldType.Display) {
    <icc-display-field [fieldConfig]="fieldConfig" [form]="form"></icc-display-field>
  }
  @case (FieldType.Hidden) {
    <icc-hidden-field [fieldConfig]="fieldConfig" [form]="form"></icc-hidden-field>
  }
  @case (FieldType.Password) {
    <icc-password-field [fieldConfig]="fieldConfig" [form]="form"></icc-password-field>
  }
  @case (FieldType.RadioGroup) {
    <icc-radio-group-field [fieldConfig]="fieldConfig" [form]="form"></icc-radio-group-field>
  }
  @case (FieldType.Select) {
    <icc-select-field [form]="form" [fieldConfig]="fieldConfig"></icc-select-field>
  }
  @case (FieldType.Textarea) {
    <icc-textarea-field [fieldConfig]="fieldConfig" [form]="form"></icc-textarea-field>
  }
  @case (FieldType.UploadFile) {
    <icc-upload-file-field [fieldConfig]="fieldConfig" [form]="form"></icc-upload-file-field>
  }
  @default {
    <icc-text-field [fieldConfig]="fieldConfig" [form]="form"></icc-text-field>
  }
}
