:host {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 28px;
  align-items: center;

  .icc-mdc-tab-labels {
    display: flex;
  }

  .icc-mdc-tab-header-pagination-chevron {
    padding: 0 3px;
    color: red;
    border: 1px solid cyan;
  }

  .icc-mdc-tab-label-container {
    display: flex;
    overflow: hidden;
    position: relative;
  }
}
