<div
  class="icc-mdc-tab-header-pagination icc-mdc-tab-header-pagination-before"
  #previousPaginator
  [class.icc-mdc-tab-header-pagination-disabled]="_disableScrollBefore"
  (click)="_handlePaginatorClick('before')"
  (mousedown)="_handlePaginatorPress('before', $event)"
  (touchend)="_stopInterval()"
>
  <div *ngIf="_showPaginationControls" class="icc-mdc-tab-header-pagination-chevron">
    <button icc-button [ghost]="true" [disabled]="_disableScrollBefore">
      <icc-icon icon="chevron-left"></icc-icon>
    </button>
  </div>
</div>

<div
  class="icc-mdc-tab-label-container"
  #tabListContainer
  (keydown)="_handleKeydown($event)"
  [class._icc-animation-noopable]="_animationMode === 'NoopAnimations'"
>
  <div
    #tabList
    class="icc-mdc-tab-list"
    role="tablist"
    [attr.aria-label]="ariaLabel || null"
    [attr.aria-labelledby]="ariaLabelledby || null"
    (cdkObserveContent)="_onContentChanges()"
  >
    <div class="icc-mdc-tab-labels" #tabListInner>
      <ng-content></ng-content>
    </div>
  </div>
</div>

<div
  class="icc-mdc-tab-header-pagination icc-mdc-tab-header-pagination-after"
  #nextPaginator
  [class.icc-mdc-tab-header-pagination-disabled]="_disableScrollAfter"
  (mousedown)="_handlePaginatorPress('after', $event)"
  (click)="_handlePaginatorClick('after')"
  (touchend)="_stopInterval()"
>
  <div *ngIf="_showPaginationControls" class="icc-mdc-tab-header-pagination-chevron">
    <button icc-button [ghost]="true" [disabled]="_disableScrollAfter">
      <icc-icon icon="chevron-right"></icc-icon>
    </button>
  </div>
</div>
